<!DOCTYPE html>
<html lang="en">
<head>
<title>What is next-contact</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/tiny-slider.css">
<link rel="stylesheet" href="css/glightbox.min.css">
<link rel="stylesheet" href="css/aos.css">

<link rel="stylesheet" href="css/style.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


 
</head>
<script src="js/script.js"></script>
<body>

  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=Hello" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
  <style>
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	left:25px;
	background-color:#25d366;
	color:#ffffff;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
}

.my-float{
	margin-top:16px;
}
#error_message{
  margin-bottom: 20px;
  background: #f53123;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
.p{
  font-size: 1px;
}
</style>
<!-- <div class="top-wrap">
<div class="container">
<div class="row">
<div class="col-md col-xl-5 d-flex align-items-center ">
<a class="navbar-brand align-items-center mb-5" href="index.html">
  
  <section class="logos okk">
    <img src="images/mes blue.png" class="nextt  ok">
</section>
</a>
</div>
<div class="col-md d-flex align-items-center">
<div class="con d-flex ">
<div class="icon mb-5 "><span class="flaticon-clock"></span></div>
<div class="text  ">
<span>Monday - Friday</span>
<strong>8:00AM-8:00PM</strong>
</div>
</div>
</div>
<div class="col-md d-flex align-items-center">
<div class="con d-flex">
<div class="icon mb-5 "><span class="flaticon-telephone"></span></div>
<div class="text">
<span>Call Us</span>
<strong>+2 392 3929 210</strong>
</div>
</div>
</div>
<div class="col-md d-flex justify-content-end align-items-center">
<div class="social-media ">
<p class="mb-5 d-flex">
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
</p>
</div>
</div>
</div>
</div>
</div> -->
<nav class="navbar">
  <a href="#" class="logo"><img src="your-logo.png" alt="Your Logo"></a>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="menu-btn">
    <div class="menu-btn__burger"></div>
  </div>
</nav>
<style>
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #f2f2f2;
  z-index: 9999;
}

.logo {
  display: inline-block;
  height: 50px;
}

.logo img {
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.menu-btn {
  display: block;
  cursor: pointer;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  display: block;
  height: 2px;
  width: 25px;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
  transform: rotate(90deg);
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    background-color: #f2f2f2;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  
  .nav-links li {
    margin: 10px 0;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
  }

  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: #333;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-8px);
  }

  .menu-btn__burger::after {
    transform: translateY(8px);
  }

  .menu-btn.open .menu-btn__burger {
   

</style>
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-center">
<div class="col-md-9 pt-5 mt-5 text-center">
<p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Contact <i class="fa fa-chevron-right"></i></span></p>
<h1 class="mb-0 bread">Contact us</h1>
</div>
</div>
</div>
</section>
<script src="js/script.js"></script>


<section>
  <div class="content">
    
    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-8">
          <div class="form h-100">
            <h3 style="font-weight: bold;">Send us a message</h3>
            <form class="mb-5" id="submit-form" onsubmit = "return validate();">
              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="name">Full Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" onkeyup="Name()" required>
                        <p class="warning-msg" id="name-warning" style="color: red"></p>
                
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="email">Email*</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" onkeyup="EmailVal()" required>
                  <p class="warning" id="email-warning" style="color: red"></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="phone">phone*</label>
                        <input type="text"  class="form-control" id="phone" name="phone" placeholder="Mobile number"  onkeyup="phoneVal()" maxlength="12" required>
                        <p class="warning" id="phone-warning" style="color: red"></p>
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="name">Course*</label>
                        <input type="text" class="form-control" name="course" id="course" placeholder="Course">
                        <p class="warning" id="subjectt" style="color: red"></p>
                </div>
              </div>
             <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="name">City*</label>
                  <input type="text" class="form-control" name="city" id="city" placeholder="City">
                   <p class="warning" id="subjectt" style="color: red"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group mb-5">
                  <label for="name" class="col-form-label">Message *</label>
                  <textarea class="form-control" name="message" id="message" cols="30" rows="4" placeholder="Write your message" onchange="messageVal()"></textarea>
                  <p class="warning" id="message-warning" style="color: red"></p>
                  
                
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="submit"  id="submit" onclick="SubmitVal()" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div> 
            <div id="form-message-success">
              Your message was sent, thank you!
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-info h-100">
            <h3>Contact Information</h3>
            <p class="mb-5">Whatisnext.in mentors have shaped the future of 3000+ students and working professionals based on their skill, background and dream.</p>
            <ul class="list-unstyled">
              <li class="d-flex">
                <span class="wrap-icon fa fa-map-marker mr-3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="text">Whatisnext. in Edu Website ( Office ) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span>
              </li>
              <li class="d-flex">
                <span class="wrap-icon fa fa-phone mr-3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="text">+91 90194 17635 ( Kerala ) <br>+91 9061296874 ( Bangalore )</span> 
              </li>
              <li class="d-flex">
                
                <span class="wrap-icon fa fa-paper-plane mr-3 ">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="text">info@whatisnext.in</span>
              </li>
                 <li class="d-flex">
                
                <span class="wrap-icon fa fa-globe mr-3 ">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="text">whatisnext.in</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <style>
    body {
font-family: "Roboto", sans-serif;
background-color: #fff;
line-height: 1.9;
color: #8c8c8c;
position: relative; }
body:before {
  z-index: -1;
  position: absolute;
  height: 50vh;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background: #8bbabb; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Roboto", sans-serif;
color: #000; }

a {
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; }
a, a:hover {
  text-decoration: none !important; }

.text-black {
color: #000; }

.content {
padding: 7rem 0; }

.heading {
font-size: 2.5rem;
font-weight: 900; }

.form-control {
border: none;
border-bottom: 1px solid #000000;
padding-left: 0;
padding-right: 0;
border-radius: 0;
background: none; }
.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #444444; }

.col-form-label {
color: #000;
font-size: 13px; }

.btn, .form-control, .custom-select {
height: 45px; }

.custom-select:active, .custom-select:focus {
outline: none;
-webkit-box-shadow: none;
box-shadow: none;
border-color: #000; }

.btn {
border: none;
border-radius: 0;
font-size: 12px;
letter-spacing: .2rem;
text-transform: uppercase; }
.btn.btn-primary {
  background: #35477d;
  color: #fff;
  padding: 15px 20px; }
.btn:hover {
  color: #fff; }
.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.contact-wrap {
-webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2); }
.contact-wrap .col-form-label {
  font-size: 14px;
  color: #000000;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0; }
.contact-wrap .form, .contact-wrap .contact-info {
  padding: 40px; }
.contact-wrap .contact-info {
  color: rgb(255, 255, 255); }
  .contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgb(245, 245, 245); }
    .contact-wrap .contact-info ul li .wrap-icon {
      font-size: 20px;
      color: #fff;
      margin-top: 5px; }
.contact-wrap .form {
  background: #fff; }
  .contact-wrap .form h3 {
    color: #35477d;
    font-size: 20px;
    margin-bottom: 30px; }
.contact-wrap .contact-info {
  background: #35477d; }
  .contact-wrap .contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px; }

label.error {
font-size: 12px;
color: red; }

#message {
resize: vertical; }

#form-message-warning, #form-message-success {
display: none; }

#form-message-warning {
color: #B90B0B; }

#form-message-success {
color: #55A44E;
font-size: 18px;
font-weight: bold; }

.submitting {
float: left;
width: 100%;
padding: 10px 0;
display: none;
font-weight: bold;
font-size: 12px;
color: #000; }
.col-md-4{
 background: #35477d;

}
  </style>
</section>
<script></script>
<section class="ftco-intro py-5 bg-primary">
<div class="container">
<div class="row d-flex justify-content-center">
<div class="col-lg-10">
<div class="row g-lg-5">
<div class="col-md-7 text-lg-right">
<h2 class="mb-0">Newsletter - Stay tune and get the latest update</h2>
<p>Far far away, behind the word mountains</p>
</div>
<div class="col-md-5 border-left d-flex align-items-center">
<form action="#" class="subscribe-form">
<div class="form-group d-flex align-items-center">
<input type="text" class="form-control" placeholder="Enter email address">
<a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
<footer class="ftco-footer">
  <div class="container-xl">
  <div class="row mb-5 justify-content-between">
  <div class="col-md-6 col-lg">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2 logo d-flex">
    <section class=" logo-footer">
      <img src="images/mes blue.png" class="footer-logo">
  </section>
  
  </a>
  </h2>
  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
  <ul class="ftco-footer-social list-unstyled mt-2">
  <li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
  <li><a href="https://www.facebook.com/profile.php?id=100066432039919&mibextid=LQQJ4d"><span class="fa fa-facebook"></span></a></li>
  <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
  </ul>
  </div>
  </div>
  <div class="col-md-6 col-lg-2">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2">Explore</h2>
  <ul class="list-unstyled">
  <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>About Us</a></li>
  <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Services</a></li>
  <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Courses</a></li>
  <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Contact us</a></li>
  </ul>
  </div>
  </div>
  <div class="col-md-6 col-lg-2">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2">Quick Links</h2>
  <ul class="list-unstyled">
  <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Contact Us</a></li>
  <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Terms &amp; Conditions</a></li>
  <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Feedbacks</a></li>
  </ul>
  </div>
  </div>
  
  <div class="col-md-6 col-lg">
  <div class="ftco-footer-widget mb-4">
  <h2 class="ftco-heading-2">Have a Questions?</h2>
  <div class="block-23 mb-3">
  <ul>
  <li><span class="icon fa fa-map marker"></span><span class="text">Whatisnext. in Edu Website ( Office ) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span></li>
  <li><a href="tel:9061296874"><span class="icon fa fa-phone"></span><span class="text">+91 90194 17635 ( Kerala ) <br> +91 9061296874 ( Bangalore )
     </span></a></li>
     
  <li> <a href="mailto:info@whatisnext.in" ><span class="icon fa fa-paper-plane"></span><span class="text">info@whatisnext.in </span></a></li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </footer>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/aos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>



<!-- <script>
 function isSubmit(){
    if(name==true && email==true && phone == true){

  $("#submit-form").submit((e)=>{
      e.preventDefault()
      $.ajax({
          url:"https://script.google.com/macros/s/AKfycbwChNQldrgSiXEWedtADf_vIP4pIb8O5n3w19weasJupiAHOWp0WckZ1kYYRLoY-x31/exec",
          data:$("#submit-form").serialize(),
          method:"post",
          success:function (response){
            Swal.fire(
  'Your message was sent',
  'Thank you!',
  'success'
)
setTimeout(function(){
   window.location.reload();
}, 2000);
              //window.location.href="https://google.com"
          },
          error:function (err){
              alert("Something Error")

          }
      })
  })
    }
    }
</script> -->
<!-- <script>
  function isSubmit(){
    if(name==true && email==true && phone == true){

        $("#submit-form").submit((e)=>{
            e.preventDefault()
            $.ajax({
                url:"https://script.google.com/macros/s/AKfycbwChNQldrgSiXEWedtADf_vIP4pIb8O5n3w19weasJupiAHOWp0WckZ1kYYRLoY-x31/exec",
                data:$("#submit-form").serialize(),
                method:"post",
                success:function (response){
                    alert("Form submitted successfully")
                    window.location.reload()
                    //window.location.href="https://google.com"
                },
                error:function (err){
                    alert("Something Error")
        
                }
            })
        })
    }
    else{
        alert("please enter proper details")
    }
    

}
</script> -->
<!-- 
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a4c076a2c334b98","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}' crossorigin="anonymous"></script> -->
</body>
</html>

    {{!-- .stafff .imgg {
   width: 300px;
    display: block;
    margin-left: 50%;
    height: 300px;
    border-radius: 20px 50px;
    position: relative;} --}}
    .stafff .imgg .ftco-social {
      position: absolute;
      bottom: 0px;
      left: 15px;
      padding: 0;
      opacity: 0;
       }
      .stafff .imgg .ftco-social li {
        list-style: none; }
        .stafff .imgg .ftco-social li a {
          height: 40px;
          width: 40px;
          display: block;
          float: left;
          color: #fff;
          border-radius: 50%;
          position: relative;
          background: #111111;
          margin-bottom: 7px; }
          .stafff .imgg .ftco-social li a span {
            position: absolute;
            font-size: 18px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #fff; }
          .stafff .imgg .ftco-social li a:hover {
            background: #000000; }
            .stafff .imgg .ftco-social li a:hover span {
              color: #fff !important; }


  .stafff:hover .text {

      color: rgba(0, 0, 0, 0.9); }
      .stafff:hover .textt h3, .staff:hover .text .h3 {
        color: rgb(0, 0, 0); }
    .stafff:hover .imgg .ftco-social {
      opacity: 1; }