<!DOCTYPE html>
<html lang="en">
<head>
<title>What is next-Booking</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/tiny-slider.css">
<link rel="stylesheet" href="css/glightbox.min.css">
<link rel="stylesheet" href="css/aos.css">
<link rel="stylesheet" href="css/style.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


 
</head>
<script src="js/script.js"></script>
<body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=I'am interested to join..." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
   <!--Start of Tawk.to Script-->
 <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=Hello" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
    <nav class="navbar">
    <a href="/"><div class="logos okk"><img class="nextt  ok" src="images/mes blue.png" alt="Logo"></div></a> 
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i  class="fa fa-bars"></i>
      </label>
      <ul >
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/Registration">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </nav>
    <section>
      <div id='show_bg_2'>
        <div class="content-reg">
          <h1>Book Your Video Session Slot</h1>
        </div>
      </div>
      <style>
              #show_bg_2 {
    background-image:
    linear-gradient(to bottom, rgba(38, 98, 142, 0.52), rgba(27, 43, 123, 0.73)),
    url('images/dom-fou-YRMWVcdyhmI-unsplash\ \(1\).jpg');
    width: 100%;
    height: 300px;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 0px 0px 95px 0px;
}
.content-reg {

  position: absolute;
  width: 80%;
 margin-top: 200px;
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
}
.content-reg h1 {
  font-size: 40px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content-reg p{
  font-size: 20px;
  
  font-family: 'Poppins',sans-serif;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
 
  .content-reg h1 {
            
  font-size: 30px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content-reg p{
  font-size: 15px;
 
  font-family:'Poppins',sans-serif;
}
}
      </style>
    </section>
    <style>
      .container-book{
        margin-top: 30px;
      }
      .card-book {
        font-family: inherit;
          width: 790px;
          margin: 0 auto;
          padding: 40px;
          background-color: #142474;
          border-radius: 25px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          text-align: center;
      }

      .card-book h1 {
          font-size: 24px;
          color: white;
          margin-bottom: 10px;
          font-family: inherit;
          font-weight: 500;
      }

      .card-book p {
          font-size: 16px;
          margin-bottom: 20px;
      }

      .card-book button {
          display: block;
          width: 100%;
          padding: 10px;
        
          background-color: #f3ee00;
          color: #000000;
          font-size: 18px;
          font-weight: 600;
          border: none;
          border-radius: 35px;
          cursor: pointer;
      }

      /* Media queries for responsiveness */
      @media (max-width: 768px) {
          .card-book {
              max-width:95%;
          }
      }
  </style>

<section class="mt-5">
    <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/whatisnextoffical/learn-with-whatisnext-in?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
</section>
  

    <footer class="ftco-footer">
      <div class="container-xl">
      <div class="row  justify-content-between">
      <div class="col-md-6 col-lg">
      <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2 logo d-flex">
        <section class=" logo-footer">
          <img src="images/white logo.png" class="footer-logo">
      </section>
      
      </a>
      </h2>
      
      <p class="footer-quote" style="color: #d5d5d5; font-size: 13px;">Whatisnext.in mentors have shaped the future of 3000+ students and working professionals based on their skill, background and dream.</p>
      <ul class="ftco-footer-social list-unstyled mt-2">
      <li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100066432039919&mibextid=LQQJ4d"><span class="fa fa-facebook"></span></a></li>
      <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
     <li><a href="https://mobile.twitter.com/WhatisnextIn"><span class="fa fa-twitter"></span></a></li>
      <li><a href=" https://www.youtube.com/@whatisnext.in"><span class="fa fa-youtube"></span></a></li>
      </ul>
      </div>
      </div>
    
      <div class="col-md-6 col-lg-2">
      <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">Admissions</h2>
      <ul class="list-unstyled">
      <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Download Brochure</a></li>
      <li><a href="application-form.html"><span class="ion ion-ios-arrow-round-forward me-2"></span>Regration Form</a></li>
      <li><a href="images/Whatisnext.in Application Form 23-24 (3).pdf" download><span class="ion ion-ios-arrow-round-forward me-2"></span>
        scholarship Form
      </a></li>
      </ul>
      </div>
      </div>
      <style>
          
      </style>
      <div class="col-md-6 col-lg">
      <div class="ftco-footer-widget mb-">
      <h2 class="ftco-heading-2">Reach Us</h2>
      <div class="block-23 mb-">
      <ul>
      <li><a href="https://maps.app.goo.gl/HByHCua1haoRW2dXA?g_st=iwb"><span class="icon fa fa-map marker"></span><span class="text">Whatisnext. in Edu Website ( Office ) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span></a></li>
      <li><a href="tel:+91 90194 17635"><span class="icon fa fa-phone"></span>Head office : <span class="text">&nbsp; +91 90194 17635 </a> </li>
      <li><a href="tel:+91 93533 12839"><span class="icon fa fa-mobile"></span><span class="text">+91 93533 12839
         </span></a><a href="tel:+91 9061296874">&emsp;&emsp;&ensp;&nbsp;<span class="text">+91 9061296874
        </span></a></li>
      <li> <a href="mailto:info@whatisnext.in" ><span class="icon fa fa-envelope"></span><span class="text">info@whatisnext.in </span></a></li>
      </ul>
      </div>
      </div>
      </div>
      
      
      </div>
      </div>
      
      
      
      
      
      
      </div>
      <div class="col-md-12 text-center" style="background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #494635 74%);">
        <div class="mb-3"> <hr>
            <a href="/about"><span id="copy-right">About Us &emsp;&emsp;</span></a><a href="/courses"><span id="copy-right">&emsp;Courses&emsp;&emsp;</span></a><a href="/Registration"><span id="copy-right">&emsp;&emsp;Register&emsp;&emsp;</span></a><a href="/contact"><span id="copy-right">&emsp;Contact</span></a>
      </div>
        <p class="mb-0 mt-0" id="copy-right" >Copyright © 2023 All rights reserved | <b>Powered by WIN  Digital</b> </p>
        </div>
      </footer>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/aos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>





</body>
</html>