<!DOCTYPE html>
<html lang="en">
<head>
<title>What is next-contact</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/tiny-slider.css">
<link rel="stylesheet" href="css/glightbox.min.css">
<link rel="stylesheet" href="css/aos.css">
<link rel="stylesheet" href="css/style.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
  #error_message{
  margin-bottom: 20px;
  background: #f53123;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
.p{
  font-size: 1px;
}
  .hrr{
  border: none;
  
  border-top: 3px dashed #8bbabb;
  width: 110px;
  margin: 0;
  float: left;
}
              #show_bg_2 {
    background-image:
    linear-gradient(to bottom, rgba(38, 98, 142, 0.52), rgba(27, 43, 123, 0.73)),
    url('images/dom-fou-YRMWVcdyhmI-unsplash\ \(1\).jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 0px 0px 95px 0px;
}
.content-cont {

  position: absolute;
  width: 50%;
  top: 10%;
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
}
.content-cont h1 {

  font-size: 40px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content-cont p{
  font-size: 20px;
  
  font-family: 'Poppins',sans-serif;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .content-cont {
width: 80%;
top: 7%;

}
          .content h1 {
            
  font-size: 30px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content-cont p{
  font-size: 15px;
 
  font-family:'Poppins',sans-serif;
}
}
    body {
font-family: "Roboto", sans-serif;
background-color: #fff;
line-height: 1.9;
color: #8c8c8c;
position: relative; }
body:before {
  z-index: -1;
  position: absolute;
  height: 50vh;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Roboto", sans-serif;
color: #000; }

a {
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; }
a, a:hover {
  text-decoration: none !important; }

.text-black {
color: #000; }

.content {
padding: 7rem 0; }

.heading {
font-size: 2.5rem;
font-weight: 900; }

.form-control {
border: none;
border-bottom: 1px solid #000000;
padding-left: 0;
padding-right: 0;
border-radius: 0;
background: none; }
.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #444444; }

.col-form-label {
color: #000;
font-size: 13px; }

.btn, .form-control, .custom-select {
height: 45px; }

.custom-select:active, .custom-select:focus {
outline: none;
-webkit-box-shadow: none;
box-shadow: none;
border-color: #000; }

.btn {
border: none;
border-radius: 0;
font-size: 12px;
letter-spacing: .2rem;
text-transform: uppercase; }
.btn.btn-primary {
  background: #35477d;
  color: #fff;
  padding: 15px 20px; }
.btn:hover {
  color: #fff; }
.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.contact-wrap {
-webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2); }
.contact-wrap .col-form-label {
  font-size: 14px;
  color: #000000;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0; }
.contact-wrap .form, .contact-wrap .contact-info {
  padding: 40px; }
.contact-wrap .contact-info {
  color: rgb(255, 255, 255); }
  .contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgb(245, 245, 245); }
    .contact-wrap .contact-info ul li .wrap-icon {
      font-size: 20px;
      color: #fff;
      margin-top: 5px; }
.contact-wrap .form {
  background: #fff; }
  .contact-wrap .form h3 {
    color: #35477d;
    font-size: 20px;
    margin-bottom: 30px; }
.contact-wrap .contact-info {
  background: #35477d; }
  .contact-wrap .contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px; }

label.error {
font-size: 12px;
color: red; }

#message {
resize: vertical; }

#form-message-warning, #form-message-success {
display: none; }

#form-message-warning {
color: #B90B0B; }

#form-message-success {
color: #55A44E;
font-size: 18px;
font-weight: bold; }

.submitting {
float: left;
width: 100%;
padding: 10px 0;
display: none;
font-weight: bold;
font-size: 12px;
color: #000; }
.col-md-4{
 background: #35477d;

}
</style>

 
</head>

<body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=I'am interested to join..." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
 <nav class="navbar">
    <a href="/"><div class="logos okk"><img class="nextt  ok" src="images/mes blue.png" alt="Logo"></div></a> 
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i  class="fa fa-bars"></i>
      </label>
      <ul >
        <li class="nav-item"><a class="nav-link " href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
        <li class="nav-item"><a class="nav-link  " href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/Registration">Register</a></li>
        <li class="nav-item"><a class="nav-link active" href="/contact">Contact</a></li>
      </ul>
    </nav>

    <section>
      <div id='show_bg_2'>
        <div class="content-cont">
          <h1>Get in Touch</h1>
          <p>We are always happy to help,If you have any queries regarding admission or courses please contact us.</p>
          <ul class="ftco-top-social list-unstyled mt-2">
            <li><a href="https://www.youtube.com/@whatisnext.in"><span class="fa fa-youtube"></span></a></li>
            <li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
      </div>
    </section>
<script src="js/script.js"></script>
<section>
  <div class="content">
    
    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-8">
          <div class="form h-100">
            <h3 style="font-weight: bold;">Contact Us</h3>
            <hr class="hrr"> <br>
            <p class="mb-5">Feel free to contact us...</p>
            <form class="mb-5" id="submit-form" onsubmit = "return validate();">
              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="name">Full Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" onkeyup="Name()" required>
                        <p class="warning-msg" id="name-warning" style="color: red"></p>
                
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="email">Email*</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" onkeyup="EmailVal()" required>
                  <p class="warning" id="email-warning" style="color: red"></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="phone">phone*</label>
                        <input type="text"  class="form-control" id="phone" name="phone" placeholder="Mobile number"  maxlength="12" required>
                        <p class="warning" id="phone-warning" style="color: red"></p>
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="name">Course*</label>
                        <input type="text" class="form-control" name="course" id="course" placeholder="Course">
                        <p class="warning" id="subjectt" style="color: red"></p>
                </div>
              </div>
             <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label" for="name">City*</label>
                  <input type="text" class="form-control" name="city" id="city" placeholder="City">
                   <p class="warning" id="subjectt" style="color: red"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group mb-5">
                  <label for="name" class="col-form-label">Message *</label>
                  <textarea class="form-control" name="message" id="message" cols="30" rows="4" placeholder="Write your message" onchange="messageVal()"></textarea>
                  <p class="warning" id="message-warning" style="color: red"></p>
                  
                
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="submit"  id="submit" onclick="SubmitVal()" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div> 
            <div id="form-message-success">
              Your message was sent, thank you!
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-info h-100">
            
            <h3 style="font-weight: bold;">Reach Us</h3>
            
            <ul class="list-unstyled">
             <a href="https://maps.app.goo.gl/HByHCua1haoRW2dXA?g_st=iwb"> <li class="d-flex">
                <span class="wrap-icon fa fa-map-marker mr-3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="text">Whatisnext. in Edu Website (Office) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span>
              </li></a>
            <a href="tel:+91 90194 17635">  <li class="d-flex">
                <span class="wrap-icon fa fa-phone mr-3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                  <span class="text">Head office : +91 90194 17635</span>
                </li></a>
              <li class="d-flex">
                
                <span class="wrap-icon fa fa-paper-plane mr-3 ">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="text">info@whatisnext.in</span>
              </li>
                 <li class="d-flex">
                
                <span class="wrap-icon fa fa-globe mr-3 ">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="text">whatisnext.in</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="ftco-intro py-5 bg-primary">
  <div class="container">
  <div class="row d-flex justify-content-center">
  <div class="col-lg-10">
  <div class="row g-lg-5">
  <div class="col-md-7 text-lg-right">
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
  <div class="area" >
          <ul class="circles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
          </ul>
  </div >
    <h2 class="mb-0">  <lord-icon
        src="https://cdn.lordicon.com/psnhyobz.json"
        trigger="hover"
        style="width:40px;height:40px; padding-top: 10px; filter:brightness(0) invert(1)">
    </lord-icon>Get weekly updates in your inbox</h2>
  </div>
  <div class="col-md-5 border-left d-flex align-items-center">
<form action="" id="submit-forms" class="subscribe-form">
<div class="form-group d-flex align-items-center">
<input type="text" class="form-control" placeholder="Enter email address"  name="email">
<button style="background-color: #2050b8; border: none; color: white;"  id="submit" type="submit" ><li class="fa fa-paper-plane"></li></button>
</div>
</form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <footer class="ftco-footer">
    <div class="container-xl">
    <div class="row  justify-content-between">
    <div class="col-md-6 col-lg">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2 logo d-flex">
      <section class=" logo-footer">
        <img src="images/white logo.png" class="footer-logo">
    </section>
    
    </a>
    </h2>
    
    <p class="footer-quote" style="color: #d5d5d5; font-size: 13px;">Whatisnext.in mentors have shaped the future of 3000+ students and working professionals based on their skill, background and dream.</p>
    <ul class="ftco-footer-social list-unstyled mt-2">
    <li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
    <li><a href="https://www.facebook.com/profile.php?id=100066432039919&mibextid=LQQJ4d"><span class="fa fa-facebook"></span></a></li>
    <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
 <li><a href="https://mobile.twitter.com/WhatisnextIn"><span class="fa fa-twitter"></span></a></li>
    <li><a href=" https://www.youtube.com/@whatisnext.in"><span class="fa fa-youtube"></span></a></li>
    </ul>
    </div>
    </div>

    <div class="col-md-6 col-lg-2">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Admissions</h2>
    <ul class="list-unstyled">
    <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Download Brochure</a></li>
    <li><a href="application-form.html"><span class="ion ion-ios-arrow-round-forward me-2"></span>Regration Form</a></li>
    <li><a href="images/Whatisnext.in Application Form 23-24 (3).pdf" download><span class="ion ion-ios-arrow-round-forward me-2"></span>
      scholarship Form
    </a></li>
    </ul>
    </div>
    </div>
    <div class="col-md-6 col-lg">
    <div class="ftco-footer-widget mb-">
    <h2 class="ftco-heading-2">Reach Us</h2>
    <div class="block-23 mb-">
    <ul>
    <li><a href="https://maps.app.goo.gl/HByHCua1haoRW2dXA?g_st=iwb"><span class="icon fa fa-map marker"></span><span class="text">Whatisnext. in Edu Website ( Office ) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span></a></li>
    <li><a href="tel:+91 90194 17635"><span class="icon fa fa-phone"></span>Head office : <span class="text">&nbsp; +91 90194 17635 </a> </li>
    <li><a href="tel:+91 93533 12839"><span class="icon fa fa-mobile"></span><span class="text">+91 93533 12839
       </span></a><a href="tel:+91 9061296874">&emsp;&emsp;&ensp;&nbsp;<span class="text">+91 9061296874
      </span></a></li>
    <li> <a href="mailto:info@whatisnext.in" ><span class="icon fa fa-envelope"></span><span class="text">info@whatisnext.in </span></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-12 text-center" style="background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #494635 74%);">
      <div class="mb-3"> <hr>
           <a href="/about"><span id="copy-right">About Us &emsp;&emsp;</span></a><a href="/courses"><span id="copy-right">&emsp;Courses&emsp;&emsp;</span></a><a href="/Registration"><span id="copy-right">&emsp;&emsp;Register&emsp;&emsp;</span></a><a href="/contact"><span id="copy-right">&emsp;Contact</span></a>
    </div>
      <p class="mb-0 mt-0" id="copy-right" >Copyright © 2023 All rights reserved | <b>Powered by WIN  Digital</b> </p>
      </div>
    </footer>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
</body>
</html>