<!DOCTYPE html>
<html lang="en">
<head>
<title>What is next-courses</title>
    <link rel = "icon" href = 
"https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" 
        type = "image/x-icon">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/tiny-slider.css">
<link rel="stylesheet" href="css/glightbox.min.css">
<link rel="stylesheet" href="css/aos.css">
<link rel="stylesheet" href="css/style.css">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/modal.js"></script>

</head>
<body>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=Hello" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
  <style>
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	left:25px;
	background-color:#25d366;
	color:#ffffff;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
}

.my-float{
	margin-top:16px;
}
</style>

 <nav class="navbar">
    <a href="/"><div class="logos okk"><img class="nextt  ok" src="images/mes blue.png" alt="Logo"></div></a> 
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i  class="fa fa-bars"></i>
      </label>
      <ul >
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
        <li class="nav-item"><a class="nav-link  " href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/Registration">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </nav>
    <section>
      <div id='show_bg_2'>
        <div class="content-course">
          <h1>All Courses</h1>
          <p>We provide courses only from reputed colleges and only after scrunity of their cirriculum & relevance. All the courses recommended or provided by us gives students the best chances at job opportunities.</p>
         
         
          
  
        </div>
       
  
      </div>
      <style>
              #show_bg_2 {
    background-image:
    linear-gradient(to bottom, rgba(38, 98, 142, 0.52), rgba(27, 43, 123, 0.73)),
    url('images/dom-fou-YRMWVcdyhmI-unsplash\ \(1\).jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 0px 0px 95px 0px;
}
.content-course {

  position: absolute;
  width: 80%;
 margin-top: 230px;
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
}
.content-course h1 {
  font-size: 40px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content-course p{
  font-size: 20px;
  
  font-family: 'Poppins',sans-serif;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  
          .content-course h1 {
            
  font-size: 30px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content-course p{
  font-size: 15px;
 
  font-family:'Poppins',sans-serif;
}
}
      </style>
    </section>

<style>
 
.responsive-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 13px;
  background-color:  #f3ee00;
  color: #040404;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.responsive-button:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .responsive-button {
    width: 100%;
    text-align: center;
  }
}

</style>




  <section class="ftco-section">
   
    <div class="row justify-content-center">
    <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
      <span class="subheading">Courses</span>
    <h2 class="mb-4">Courses in India</h2>
    </div>
    </div>
  
<div class="card-container">
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/allied-health-symbol.png" alt="" class="course-icon" >
    <h3>Allied Health</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
   

  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/measure.png" alt="" class="course-icon" >
    <h3>Architecture</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/computer-2.png" alt="" class="course-icon" >
    <h3>Computer</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/Agriculture-card.png" alt="" class="course-icon" >
    <h3>Agriculture</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/aviation.png" alt="" class="course-icon" >
    <h3>Aviation</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/designing.png" alt="" class="course-icon" >
    <h3>Designing</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/humanity.png" alt="" class="course-icon" >
    <h3>Arts and Humanities</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/payment-method.png" alt="" class="course-icon" >
    <h3>Commerce</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/ayurveda.png" alt="" class="course-icon" >
    <h3>Ayurveda</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/audiology.png" alt="" class="course-icon" >
    <h3>Audiology</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/dental-care.png" alt="" class="course-icon" >
    <h3>Dental</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/worker.png" alt="" class="course-icon" >
    <h3>Engineering</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/earth.png" alt="" class="course-icon" >
    <h3>Earth Science</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/nursegnm.png" alt="" class="course-icon" >
    <h3>GNM Nursing</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/mortar.png" alt="" class="course-icon" >
    <h3>Homeopathy</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/itc.png" alt="" class="course-icon" >
    <h3>ITC</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/iti.png" alt="" class="course-icon" >
    <h3>ITI Industrual Training Institute</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/auction.png" alt="" class="course-icon" >
    <h3>Law</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/traditional-medicine.png" alt="" class="course-icon" >
    <h3>Life Sciences</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/measure.png" alt="" class="course-icon" >
    <h3>Management</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/wheel.png" alt="" class="course-icon" >
    <h3>Marine</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/profit.png" alt="" class="course-icon" >
    <h3>MBA</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/mass-media.png" alt="" class="course-icon" >
    <h3>Media and Communication</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/stethoscope.png" alt="" class="course-icon" >
    <h3>Medical</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/naturopathy.png" alt="" class="course-icon" >
    <h3>Naturopathy And Yogic Science</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/nurse.png" alt="" class="course-icon" >
    <h3>Nursing</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/physical-therapy.png" alt="" class="course-icon" >
    <h3>Occupational Therapy</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/syringe.png" alt="" class="course-icon" >
    <h3>Paramedical</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/pharmacy.png" alt="" class="course-icon" >
    <h3>Pharmacy</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/phy.png" alt="" class="course-icon" >
    <h3>Physiotherapy</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/technical-support.png" alt="" class="course-icon" >
    <h3>Polytechnic</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/atom.png" alt="" class="course-icon" >
    <h3>Science</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/sidd.png" alt="" class="course-icon" >
    <h3>Siddha</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/network.png" alt="" class="course-icon" >
    <h3>Social Work</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/traditional-medicine.png" alt="" class="course-icon" >
    <h3>Unani</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/veterinary.png" alt="" class="course-icon" >
    <h3>Veterinary</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <img src="images/card-icons/open-book.png" alt="" class="course-icon" >
    <h3>Vocational Study</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
  <div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
    <i class="flaticon-coding" aria-hidden="true"></i>
    <h3>Other Courses</h3>
    <a href="contact.html"><button class="responsive-button">Apply</button></a>
    
  </div>
</div>
<button id="load-more-btns">Load More</button>

</section>
<script>
  const cards = document.querySelectorAll('.cardss');
const loadMoreBtn = document.querySelector('#load-more-btns');
let visibleCards = 18; // adjust this number as needed

for (let i = visibleCards; i < cards.length; i++) {
cards[i].style.display = 'none';
}

loadMoreBtn.addEventListener('click', function() {
for (let i = visibleCards; i < visibleCards + 6 && i < cards.length; i++) {
  cards[i].style.display = 'block';
}
visibleCards += 6;
if (visibleCards >= cards.length) {
  loadMoreBtn.style.display = 'none';
}
});
</script>
<style>
  .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.cardss {
  flex-basis: calc(16.67% - 20px);
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.cardss i {
  font-size: 48px;
  margin-bottom: 10px;
}

.cardss h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.cardss p {
  font-size: 14px;
  color: #777;
}

@media (max-width: 767px) {
  .cardss {
    flex-basis: calc(50% - 20px);
  }
}

</style>
<style>
  .card-container {
display: flex;
flex-wrap: wrap;
}

.card {
width: 300px;
margin: 10px;
padding: 10px;
background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);;
}

#load-more-btns {
display: block;
margin: 10px auto;
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}
</style>


<section class="ftco-intro py-5 bg-primary">
  <div class="container">
  <div class="row d-flex justify-content-center">
  <div class="col-lg-10">
  <div class="row g-lg-5">
  <div class="col-md-7 text-lg-right">
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <div class="context">
     
  </div>
  
  
  <div class="area" >
          <ul class="circles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
          </ul>
  </div >
  <style>
    @import url('https://fonts.googleapis.com/css?family=Exo:400,700');
  
  
  .context {
      width: 100%;
      position: absolute;
      top:10vh;
      
  }
  
  .context h1{
      text-align: center;
      color: #fff;
      font-size: 50px;
  }
  
  
  .area{
     
      background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
      width: 0%;
      height:0vh;
      
     
  }
  
  .circles{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
  }
  
  .circles li{
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
      
  }
  
  .circles li:nth-child(1){
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
  }
  
  .circles li:nth-child(9){
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
  }
  
  
  
  @keyframes animate {
  
      0%{
          transform: translateY(0) rotate(0deg);
          opacity: 1;
          border-radius: 0;
      }
  
      100%{
          transform: translateY(-1000px) rotate(720deg);
          opacity: 0;
          border-radius: 50%;
      }
  
  }
  </style>
    <h2 class="mb-0">  <lord-icon
        src="https://cdn.lordicon.com/psnhyobz.json"
        trigger="hover"
        style="width:40px;height:40px; padding-top: 10px; filter:brightness(0) invert(1)">
    </lord-icon>Get weekly updates in your inbox</h2>
  </div>
  <div class="col-md-5 border-left d-flex align-items-center">
  <form action="#" class="subscribe-form">
  <div class="form-group d-flex align-items-center">
  <input type="text" class="form-control" placeholder="Enter email address">
  <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
  </div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <footer class="ftco-footer">
    <div class="container-xl">
    <div class="row  justify-content-between">
    <div class="col-md-6 col-lg">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2 logo d-flex">
      <section class=" logo-footer">
        <img src="images/white logo.png" class="footer-logo">
    </section>
    
    </a>
    </h2>
    
    <p class="footer-quote" style="color: #d5d5d5; font-size: 13px;">Whatisnext.in mentors have shaped the future of 3000+ students and working professionals based on their skill, background and dream.</p>
    <ul class="ftco-footer-social list-unstyled mt-2">
    <li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
    <li><a href="https://www.facebook.com/profile.php?id=100066432039919&mibextid=LQQJ4d"><span class="fa fa-facebook"></span></a></li>
    <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
    <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-twitter"></span></a></li>
    <li><a href=" https://www.youtube.com/@whatisnext.in"><span class="fa fa-youtube"></span></a></li>
    </ul>
    </div>
    </div>
    <!-- <div class="col-md-6 col-lg-2">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Quick Links</h2>
    <ul class="list-unstyled">
    <li><a href="about.html"><span class="ion ion-ios-arrow-round-forward me-2"></span>About Us</a></li>
    <li><a href="courses.html"><span class="ion ion-ios-arrow-round-forward me-2"></span>Courses</a></li>
    <li><a href="application-form.html"><span class="ion ion-ios-arrow-round-forward me-2"></span>Regration Form</a></li>
    <li><a href="contact.html"><span class="ion ion-ios-arrow-round-forward me-2"></span>Contact us</a></li>
    
    </ul>
    </div>
    </div> -->
    <div class="col-md-6 col-lg-2">
    <div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Admissions</h2>
    <ul class="list-unstyled">
    <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Download Brochure</a></li>
    <li><a href="application-form.html"><span class="ion ion-ios-arrow-round-forward me-2"></span>Regration Form</a></li>
    <li><a href="images/Whatisnext.in Application Form 23-24 (3).pdf" download><span class="ion ion-ios-arrow-round-forward me-2"></span>
      scholarship Form
    </a></li>
    </ul>
    </div>
    </div>
    <style>
        
    </style>
    <div class="col-md-6 col-lg">
    <div class="ftco-footer-widget mb-">
    <h2 class="ftco-heading-2">Reach Us</h2>
    <div class="block-23 mb-">
    <ul>
    <li><a href="https://maps.app.goo.gl/HByHCua1haoRW2dXA?g_st=iwb"><span class="icon fa fa-map marker"></span><span class="text">Whatisnext. in Edu Website ( Office ) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span></a></li>
    <li><a href="tel:+91 90194 17635"><span class="icon fa fa-phone"></span>Head office : <span class="text">&nbsp; +91 90194 17635 </a> </li>
    <li><a href="tel:+91 93533 12839"><span class="icon fa fa-mobile"></span><span class="text">+91 93533 12839
       </span></a><a href="tel:+91 9061296874">&emsp;&emsp;&ensp;&nbsp;<span class="text">+91 9061296874
      </span></a></li>
    <li> <a href="mailto:info@whatisnext.in" ><span class="icon fa fa-envelope"></span><span class="text">info@whatisnext.in </span></a></li>
    </ul>
    </div>
    </div>
    </div>
    
    
    </div>
    </div>
    
    
    
    
    
    
    </div>
    <div class="col-md-12 text-center" style="background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #494635 74%);">
      <div class="mb-3"> <hr>
        <a href="contact.html"><span id="copy-right">About Us &emsp;&emsp;</span></a><a href="courses.html"><span id="copy-right">&emsp;Courses&emsp;&emsp;</span></a><a href="application-form.html"><span id="copy-right">&emsp;&emsp;Register&emsp;&emsp;</span></a><a href="contact.html"><span id="copy-right">&emsp;Contact</span></a>
    </div>
      <p class="mb-0 mt-0" id="copy-right" >Copyright © 2023 All rights reserved | <b>Powered by WIN  Digital</b> </p>
      </div>
    </footer>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/aos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

<script src="js/modal.js"></script>
</body>
</html>