<!DOCTYPE html>
<html lang="en">
<head>
<title>What is next</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/tiny-slider.css">
<link rel="stylesheet" href="css/glightbox.min.css">
<link rel="stylesheet" href="css/aos.css">
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/76272be822.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-6qijLpAS8gdpsJLVoIZ+MUgSDw0bjWk91vffZQ6mbNl6r3qjW8ASvFy71R+rIz6xwUyeW8Yv5A5P9Dmztg+Ibg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  margin-bottom: 20px;
  border-radius:10px;
  border: 1px solid transparent;
  background-color: rgb(20, 170, 224);
  transition: .3s;
}
#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
 
      .fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.Caret-Right::before {
   font: var(--fa-font-solid);
    content: ' \f0da';
 }
      #show_bg_2 {
    background-image:
    linear-gradient(to bottom, rgba(38, 98, 142, 0.52), rgba(27, 43, 123, 0.73)),
    url('images/dom-fou-YRMWVcdyhmI-unsplash\ \(1\).jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 0px 0px 95px 0px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
 margin-right: 20px;
  border-radius: 35px;
  background-color:#fb2323;
  color: #f9f9f9;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.content {
    margin-top: 350px;
  position: absolute;
  width: 80%;
 
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
}
.content h1 {
  font-size: 50px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content p{
  font-size: 20px;
  
  font-family: 'Poppins',sans-serif;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  
          .content h1 {
            
  font-size: 30px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content p{
  font-size: 15px;
 
  font-family:'Poppins',sans-serif;
}
#show_bg_2 {
  border-radius: 0px 0px 75px 0px;
    width: 100%;
    height: 650px;
   
}
.btn {
 margin-right: 10px;
  
}
  }
  
</style>

</head>
<body>
    
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=I'am interested to join..." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
  
  <nav class="navbar">
    <a href="/"><div class="logos okk"><img class="nextt  ok" src="images/mes blue.png" alt="Logo"></div></a> 
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i  class="fa fa-bars"></i>
      </label>
      <ul >
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
        <li class="nav-item"><a class="nav-link  " href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/Registration">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </nav>

  <section>
    <div id='show_bg_2'>
      <div class="content">
        <h1 class="head-img">Realise your higher education dreams with whatisnext</h1>
        <p>whatisnext.in is India’s leading educational consultancy group. We have helped hundreds of students to pursue dream career paths. We also partnered with top institutions to give futuristic courses to the young minds.</p>
        <ul class="ftco-top-social list-unstyled mt-2">
          <li><a href="https://www.youtube.com/@whatisnext.in"><span class="fa fa-youtube"></span></a></li>
          <li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
          </ul>
       <a href="/Registration"><button class="btn">FOR ADMISSION!</button></a>
       <a href="/courses"> <span class='Caret-Right fontawesomeicon' style="font-weight: 500; color: white;">&nbsp; All COURSES</span></a>
      </div>
    </div>
  </section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
<div class="container-xl">
<div class="row g-xl-5">
<div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
<div class="img w-100" style="background-image: url(images/about.jpg);">
</div>
</div>
<div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
<div class="mt-0 my-lg-5 py-5">
<span class="subheading" style="color: #18009f;">Learn Anything</span>
<!-- <span><h2 style="color: #042569;">DISCOVER<h2 class="">THE BEST SERVICES FOR YOU.</h2></h2></span> -->
<h2>DISCOVER THE BEST SERVICES<span style="color: #cb0606;"> FOR</span> YOU.</h2>
<div class="row mt-4 g-lg-2">
<div class="col-lg-12 d-flex align-items-stretch services-wrap">
<div class="services d-flex">
<div class="icon"><span class="flaticon-online-learning"></span></div>
<div class="text">
<h2>We Recommend Best Universities</h2>
<p class="mb-0">The best career guidance agency for students looking to join schools , colleges, and
  universities for an undergraduate and postgraduate degree in India or abroad.
  </p>
</div>
</div>
</div>
<div class="col-lg-12 d-flex align-items-stretch services-wrap">
<div class="services d-flex">
<div class="icon"><span class="flaticon-scientist"></span></div>
<div class="text">
<h2>Digital Marketing</h2>
<p class="mb-0">What's Next has grown to become the most trusted online marketing company in India by
  providing result-oriented, data-driven Digital Marketing solutions to our clients.
  </p>
</div>
</div>
</div>
<div class="col-lg-12 d-flex align-items-stretch services-wrap">
<div class="services d-flex">
<div class="icon"><span class="flaticon-certificate"></span></div>
<div class="text">
<h2>Earn A Certificates</h2>
<p class="mb-0">A certificate program is considered continuing education in some cases because it builds on
  your knowledge of a particular career or industry.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section style="margin-top: 20px; margin-bottom: 50px;">
  <div class="container " style="background-image:
  linear-gradient(to bottom, rgba(0, 15, 69, 0.52), rgba(0, 15, 91, 0.73)),
  url('images/mssn.jpg'); padding-left: 3%; padding-right: 3%; text-align: justify;">
<div class="row">
  <div class="col-md-6 mt-5">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
      <h2 class="mb-5" style="color: #ffff00;">Our Mission </h2>
      </div>
      </div>
   
    <p id="mission-para" > To simplify the college search process and help students find the right course and college for their higher studies in India.</p>
  </div>
 
  <div class="col-md-6 mt-5 mb- " >
      <div  data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
          <h2 class="mb-5" style="color: #ffff00;">Our Vision </h2>
          </div>
          </div>
    <p id="mission-para" >To become the leading platform for students seeking guidance and information on higher education in India, by creating a community where students can connect with their peers, mentors, and college representatives to achieve their academic and career aspirations.</p>
   
  </div>
</div><a href="/about" class="text-center mb-5" style="color: #82e2ff;">About Us <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
</div>

</section>

<div class="container">
<div class="row justify-content-center">
  <div class="col-md-8 heading-section text-center mb-3" data-aos="fade-up" data-aos-duration="1000">
   
  <h2 class="">Why Choose us?</h2>
  </div>
  
  </div><p  class="choose-text">There are so many options ! <b>#learnwithwin</b> is designed to provide you with the support and guidance you need to take next step in your journey, <b>as a big brother whatisnext.in</b>  is always with you.
    </p>
  <section  class="features">
    
    <div class="feature card text-center">
      <center> <img src="images/admission.png" alt="" class="choose-icon" ></center>
       
      <h2>DIRECT ADMISSION</h2>
    <p>We are the official admission partners for top colleges and universities and are authorized to
      conduct direct admissions in these institutions under management /NRI quota & We provide
      exclusive information about different admissions procedures followed in various colleges for
      direct admissions</p>
    </div>
    <div class="feature card text-center">
     <center><img src="images/frees.png" alt="" class="choose-icon" ></center>
      
      <h2>COMPLETELY FREE OF COST</h2>
      <p>Amidst the dramatic and overpriced troops who charge way too much or demonstrate 3rd class
        values, we have always been fair to our customers. For us trust and reasonableness is more
        important</p>
    </div>
     <div class="feature card text-center">
      <center> <img src="images/approval.png" alt="" class="choose-icon" ></center>
     
      <h2>PERSONALITY TESTING</h2>
      <p>We help the students to analyze their weaknesses and help them to overcome their Jaws & We
        train the students on various soft skills and interdisciplinary
        skills and assist in personality enhancement of students
        </p>
      

    </div>
    <div class="feature card text-center" >
      <center><img src="images/24-hours-support.png" alt="" class="choose-icon" ></center>
      
      <h2>24*7 Support</h2>
    <p>We help be available from monday to saturday between 9 AM to 6PM
      Kindly contact us if you have any queries,we are there to assist you</p>
  

    </div>
     <div class="feature card text-center">
<center>  <img src="images/degree.png" alt="" class="choose-icon" ></center>
      
      <h2>SCHOLARSHIPS</h2>
      <p>We give exclusive information about different types of scholarships available for both Karnataka
        and Non-Karnataka students</p>
    </div>
     <div class="feature card text-center">
<center> <img src="images/business.png" alt="" class="choose-icon" ></center>
       
      <h2>CAREER OPTIONS
</h2>
      <p>We guide the students in choosing the right careers according to their interests & what's next
        will help students find what they actually want and guide them to success.</p>
    </div>
    <div class="feature card text-center">
    <center><img src="images/career ad.png" alt="" class="choose-icon" ></center>
        
      <h2>CAREER ADVANCEMENT TRAINING</h2>
  <p>We provide tips for the students and working professionals with career advancement training
    give insights about the market trends and help them to upgrade their career graphs
    </p>
    </div>
    <div class="feature card text-center">
      <center><img src="images/job-interview.png" alt="" class="choose-icon" ></center>
        
      <h2>INTERVIEW TRAINING</h2>
      <p>Our students will be trained with exclusive interview skills to build condense in cracking any
        selection process & Our experts will train the students with all the interview etiquettes like dress
        code, behavior,FAQs etc.</p>
    </div>
    <div class="feature card text-center">
    <center> <img src="images/interview.png" alt="" class="choose-icon" ></center>
       
      <h2>MOCK INTERVIEW</h2>
     <p>Our experts from different professional backgrounds will prepare the students for interviews &
      We conduct mock interview sessions for the students and try to to give them real-time interview
      experience
      </p>
    </div>
    <div class="feature card text-center"> 
      <center>  <img src="images/examination.png" alt="" class="choose-icon" ></center>
   
      <h2>COMPETITIVE EXAM TRAINING
</h2>
      <p>We provide our students with all the details of major competitive exams like syllabus, structure
        of exam, exam pattern, exam tips etc. & Our students will be given expert guidance about the
        entrance exams from experts
        </p>
    </div>
    <div class="feature card text-center">
      <center> <img src="images/interview.png" alt="" class="choose-icon" ></center>
       
      <h2>MERIT ASSISTANCE</h2>
      <p>We guide them with in-depth details about the merit admission process and help our students to
        get admission to top colleges in Bangalore and Karnataka and kerala.& also we offer merit
        assistance to the students and help them in online choose Olling options for various admissions</p>
    </div>
    <div class="feature card text-center">
      <center>  <img src="images/interview.png" alt="" class="choose-icon" ></center>
      
      <h2>APPLICATION ASSISTANCE</h2>
      <p>Our admission facilitators assist the candidates on all stages of application submission to their
        preferred colleges & courses and for competitive exams & Our students will get exclusive
        technical guidance involved in online application procedures in various admissions
        </p>
    </div>
    <div class="feature card text-center">
     
      <center> <img  src="images/university-building.png" alt="" class="choose-icon" ></center>    
         <h2>CAREER GUIDANCE</h2>
         <p>We help each and every student identify what they want by interrogating with them. Team what’s
           next will guide the students about the high Return of Investment (ROI) jobs and highest salary
           packages
   </p>
          
       </div>
   
    <div class="feature card text-center">
    <center> <img src="images/cinema-seat.png" alt="" class="choose-icon" ></center>
       
      <h2>SEAT RESERVATION</h2>
      <p>We guide our students with detailed information involved in seat reservations for their chosen
        course and college & Our students will get exclusive beneOts of booking the seats in advance
        for high demand courses and colleges. This saves them from losing the opportunity
        </p>
    </div> 
    <div class="feature card text-center">
     <center><img src="images/book.png" alt="" class="choose-icon" ></center>
        
      <h2>COURSE SELECTIONS</h2>
      <p>After successful aptitude testing our students will be provided with different course options
        based on the Analysis & We further help the students with various strategies that are essential
        to choose the course</p>
    </div>
    <div class="feature card text-center">
    <center> <img src="images/school.png" alt="" class="choose-icon" ></center>
       
      <h2>COLLEGES COMPARISONS</h2>
      <p>Our admission officers help the students with complete and in-depth details about the colleges &
        The students will be exposed to strategic comparative information about different colleges by
        the what's next team, so that the students can make the Final decision</p>
    </div>
    <div class="feature card text-center">
      <center><img src="images/home.png" alt="" class="choose-icon" ></center>
        
      <h2>BANK LOAN ASSISTANCE</h2>
      <p>We guide the students regarding the educational loans, process and for all documentation
        required & We also assist the students with different modes of payments
        Explaining the criteria for availing education loans.
        </p>
 <p></p>
    </div>
    <div class="feature card text-center">
    <center> <img src="images/mindset.png" alt="" class="choose-icon" ></center>
       
      <h2>INDUSTRY EXPECTATIONS AND TRENDS</h2>
      <p>We guide the students about the industry expectations and trends in the job markets & We give
        detailed statistics of upcoming industry requirements and help them to adapt to the changing
        industry needs</p>
    </div>
    <div class="feature card text-center">
      <center> <img src="images/placement.png" alt="" class="choose-icon" ></center>
       
      <h2>PLACEMENTS</h2>
      <p>We provide exclusive placement assistance for our students with all upcoming opportunities
        whatisnext cell the in-house placement team helps our students in getting placed in different
        companies based on their interests</p>
    </div>
    <div class="feature card text-center" >
    <center> <img src="images/travel-agency.png" alt="" class="choose-icon" ></center>
       
      <h2>TRAVEL ASSISTANCE</h2>
      <p>We provide personalized pick up and drop facilities for outstation students and parents to
        colleges & Our team will guide the students about different parameters like distance of
        Bangalore from different parts of the country, mode of transport to reach college campus in
        Bangalore etc.
        </p>
    </div>
    <div class="feature card text-center">
    <center> <img src="images/hotel.png" alt="" class="choose-icon" ></center>
       
      <h2>ACCOMMODATION</h2>
      <p>We provide accommodation assistance for all the students and parents seeking admissions in
        different colleges and help them to book the hotel rooms for stay according to their budgets &
        We also assist the students in Onding accommodations around the colleges after they got
        admissions</p>
    </div>
    <div class="feature card text-center">
      <center><img src="images/passport.png" alt="" class="choose-icon" ></center>
        
      <h2>VISA ASSISTANCE</h2>
     <p>Our dedicated Visa teams guide the students about VIsa terms and processes, we also help
      with documents required for Visa processing & We offer complete Visa assistance for all the
      students for selected countries</p>
    </div>
        
    <div class="feature card text-center">
    <center><img src="images/school.png" alt="" class="choose-icon" ></center>
        
      <h2>CAMPUS VISITS</h2>
     <p>We are authorized to conduct campus visits for different colleges for our students & Our
      dedicated executives will accompany the students to provide guidance about the campus
      </p>
    </div>

    
    <div class="feature card text-center" > 
      <center>   <img src="images/mindset.png" alt="" class="choose-icon" ></center>
    
      <h2>APTITUDE TESTING</h2>
      <p>We conduct aptitude testing for evaluating the interests of the students & Our team analyzes the
        capabilities and interests of the students and help them to shortlist the right courses</p>
    </div>
    
  </section>
</div>
  <button id="load-more-btn">Load More</button>

<section class="ftco-section-counter img" style="background-image: url(images/image_6.jpg);">
<div class="overlay"></div>
<div class="container">
<div class="row section-counter">
<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
<div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
<div class="icon">
<span class="flaticon-graduation"></span>
</div>
<div class="text">
<h2 class="number"><span class="countup">10</span>K+</h2>
<span class="caption">Success Stories</span>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
<div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
<div class="icon">
<span class="fas fa-university"></span>
</div>
<div class="text">
<h2 class="number"><span class="countup">760</span>+</h2>
<span class="caption">Universities</span>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
<div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
<div class="icon">
<span class="flaticon-learning"></span>
</div>
<div class="text">
<h2 class="number"><span class="countup">800</span>+</h2>
<span class="caption">Courses</span>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
<div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
<div class="icon">
<span class="fa fa-university"></span>
</div>
<div class="text">
    <h2 class="number"><span class="countup">1000</span>+</h2>
<span class="caption">College</span>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="ftco-section mb-5">
   
  <div class="row justify-content-center">
  <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
   
  <h2 class="mb-4">Our Courses</h2>
  </div>
  </div>

<div class="card-container">
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/allied-health-symbol.png" alt="" class="course-icon" >
  <h3>Allied Health</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/measure.png" alt="" class="course-icon" >
  <h3>Architecture</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/computer-2.png" alt="" class="course-icon" >
  <h3>Computer</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/Agriculture-card.png" alt="" class="course-icon" >
  <h3>Agriculture</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/aviation.png" alt="" class="course-icon" >
  <h3>Aviation</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/designing.png" alt="" class="course-icon" >
  <h3>Designing</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/humanity.png" alt="" class="course-icon" >
  <h3>Arts and Humanities</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/payment-method.png" alt="" class="course-icon" >
  <h3>Commerce</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/ayurveda.png" alt="" class="course-icon" >
  <h3>Ayurveda</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/audiology.png" alt="" class="course-icon" >
  <h3>Audiology</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/dental-care.png" alt="" class="course-icon" >
  <h3>Dental</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
  
</div>
<div class="cardss" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <img src="images/card-icons/worker.png" alt="" class="course-icon" >
  <h3>Engineering</h3>
  <a href="/contact"><button class="responsive-button">Apply</button></a>
</div>

</div>
<a href="/courses" id="loadMore">View More</a>

</section>


<section class="ftco-section testimony-section bg-light">
  <div class="container-xl">
  <div class="row justify-content-center pb-4">
  <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
  <span class="subheading">Testimonial</span>
  <h2 class="mb-5">Our Successful Students</h2>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
  <div class="carousel-testimony">
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url('/images/mehru.jpeg')">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="names">Mehar Ban K.R 
  </p> 
  <p class="positions">(3rd Year Bsc Mit)</p>
  <p class="positions" style="color: rgb(51, 0, 170);">
   East point medical college</p>
  </div>
  </div>
  <p class="mb-4 msg"> “ As a new student at colleges in Bangalore, What Is Next gave me convincing advice on choosing the right course and university.Considering me seeing Bangalore for the first time, What's Next .in supported me in this new city by providing pickup,drop and freshup .As a third-year student, I encourage all delegates to choose What Next for their Excellent future. “</p>
  </div>
  </div>
  </div>

  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url('/images/don.jpeg')">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="names">Don mathew </p>
  <p class="positions">(Bsc Nursing)</p>
  <p class="positions" style="color: rgb(51, 0, 170);">shusruthy college of nursing</p>
  </div>
  </div>
  <p class="mb-4 msg">“ I highly recommend <b>whatisnext.in</b> for anyone seeking guidance and support in their academic journey. The team was incredibly knowledgeable and provided me with personalized advice that helped me achieve my educational goals. Thanks to their guidance, I was able to get into my dream university and achieve success beyond my expectations. I am grateful for their support and would definitely use their services again. “ </p>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url('/images/g.jpeg')">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="names">Gouri Vijayakumar</p>
  <p class="positions">(1st Year Fashion Designing)</p>
  <p class="positions" style="color: rgb(51, 0, 170);"> Bgs & SJB Group of institutions </p>
  </div>
  </div>
  <p class="mb-4 msg">“ when i had no clue about bangalore and the colleges in bangalore thats when i came to know about whatis next after which i contacted them and i got advices on the courses and colleges in bangalore. after which suggested to come to bangalore so i could know about the colleges personally. when i reached bangalore they cam and picked me up and showed me all the suitable colleges. they also gave me an opportunity to directly talk with the university. any students who are willing to come to bangalore. i would suggest WhatsNext. in! “</p>
  </div>
  </div>
  </div>
 
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url('/images/ro.jpeg')">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="names"> ROHITH</p>
  <p class="positions">(Bsc psychology)</p>
  <p class="positions" style="color: rgb(51, 0, 170);"> Christ deemed to be university </p>
  </div>
  </div>
  <p class="mb-4 msg">“ I had a wonderful experience with [whatisnext.in]. The team provided me with personalized guidance for my study abroad plans and made the entire process seamless. They were incredibly knowledgeable about different universities and their admission processes, and helped me select the perfect program for my academic and personal goals. Even after I was admitted into the university, they continued to provide support and ensured that I had everything I needed for a smooth transition. I highly recommend their services to anyone looking to pursue education abroad. “</p>
  </div>
  </div>
  </div>
    <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url('/images/africa.jpg')">
   <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="names">UMUTIJIMA SHYAKA ODETTE</p>
  <p class="positions">(1st Year BPT) </p>
  <p class="positions" style="color: rgb(51, 0, 170);">Jain University School of Allied Healthcare & Sciences</p>
  </div>
  </div>
  <p class="mb-4 msg">“ I met them on Instagram when I was in Rwanda & frustrated about my approach to institutions and from the very first day they helped me and Guided me to get the course I wanted and university with 100% Scholarship. I can't imagine what I'd have done without them.“  </p>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url('/images/alan.jpeg')">
   <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="names">ALAN T MATHAY</p>
  <p class="positions">(1st Year BPT) </p>
  <p class="positions" style="color: rgb(51, 0, 170);">MVM Group of Institutions, Yelahanka Bangalore</p>
  </div>
  </div>
  <p class="mb-4 msg">“ I was struggling to find the right university program for my career goals, but whatisne xt.in provided me with the guidance and resources I needed to make an informed decision. The team was patient, understanding, and always available to answer my questions. They helped me identify my strengths and interests, and provided me with valuable information about different universities and their programs. Thanks to their support, I am now enrolled in a program that is perfect for me and am on track to achieving my career aspirations. Thank you, whatisnext! “  </p>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>
<section class="ftco-section">
  <div class="row justify-content-center">
    <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
    <h2 class="">Top Colleges & Universities</h2>
    </div>
    </div>
    <div class="container">
       <marquee  width="95%" direction="left" height="100px" scrollamount="10"> <div class="row">
          <div class="col col-6 col-sm-6 col-md-4 col-xl-4 col-xxl-4 col-lg-4"><div class="card-collage "><center><a href="#gal9"><img src="images/u1.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u2.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u3.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u4.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u5.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u6.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u7.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u8.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u9.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u10.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u11.jpg" alt="High Edu" class="collage-img"></a></center></div></div>
        </div></marquee>
    </div>
</section>
<section class="ftco-intro py-5 bg-primary">
<div class="container">
<div class="row d-flex justify-content-center">
<div class="col-lg-10">
<div class="row g-lg-5">
<div class="col-md-7 text-lg-right">
  <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
  <h2 class="mb-0">  <lord-icon
      src="https://cdn.lordicon.com/psnhyobz.json"
      trigger="hover"
      style="width:40px;height:40px; padding-top: 10px; filter:brightness(0) invert(1)">
  </lord-icon>Get weekly updates in your inbox</h2>
</div>
<div class="col-md-5 border-left d-flex align-items-center">
<form action="" id="submit-forms" class="subscribe-form">
<div class="form-group d-flex align-items-center">
<input type="text" class="form-control" placeholder="Enter email address"  name="email">
<button style="background-color: #2050b8; border: none; color: white;"  id="submit" type="submit" ><li class="fa fa-paper-plane"></li></button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
<footer class="ftco-footer">
<div class="container-xl">
<div class="row  justify-content-between">
<div class="col-md-6 col-lg">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2 logo d-flex">
  <section class=" logo-footer">
    <img src="images/white logo.png" class="footer-logo">
</section>
</a>
</h2>
<p class="footer-quote" style="color: #d5d5d5; font-size: 13px;">Whatisnext.in mentors have shaped the future of 3000+ students and working professionals based on their skill, background and dream.</p>
<ul class="ftco-footer-social list-unstyled mt-2">
<li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
<li><a href="https://www.facebook.com/profile.php?id=100066432039919&mibextid=LQQJ4d"><span class="fa fa-facebook"></span></a></li>
<li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
 <li><a href="https://mobile.twitter.com/WhatisnextIn"><span class="fa fa-twitter"></span></a></li>
<li><a href=" https://www.youtube.com/@whatisnext.in"><span class="fa fa-youtube"></span></a></li>
</ul>
</div>
</div>
<div class="col-md-6 col-lg-2">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Admissions</h2>
<ul class="list-unstyled">
<li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Download Brochure</a></li>
<li><a href="/Registration"><span class="ion ion-ios-arrow-round-forward me-2"></span>Regration Form</a></li>
<li><a href="/images/application.pdf" download><span class="ion ion-ios-arrow-round-forward me-2"></span>
  scholarship Form
</a></li>
</ul>
</div>
</div>
<style>
</style>
<div class="col-md-6 col-lg">
<div class="ftco-footer-widget mb-">
<h2 class="ftco-heading-2">Reach Us</h2>
<div class="block-23 mb-">
<ul>
<li><a href="https://maps.app.goo.gl/HByHCua1haoRW2dXA?g_st=iwb"><span class="icon fa fa-map marker"></span><span class="text">Whatisnext. in Edu Website ( Office ) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span></a></li>
<li><a href="tel:+91 90194 17635"><span class="icon fa fa-phone"></span>Head office : <span class="text">&nbsp; +91 90194 17635 </a> </li>
<li><a href="tel:+91 93533 12839"><span class="icon fa fa-mobile"></span><span class="text">+91 93533 12839
   </span></a><a href="tel:+91 9061296874">&emsp;&emsp;&ensp;&nbsp;<span class="text">+91 9061296874
  </span></a></li>
<li> <a href="mailto:info@whatisnext.in" ><span class="icon fa fa-envelope"></span><span class="text">info@whatisnext.in </span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-12 text-center" style="background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #494635 74%);">
  <div class="mb-3"> <hr>
    <p><a href="/about" ><span id="copy-right">About Us &emsp;&emsp;</span></a><a href="/courses"><span id="copy-right">&emsp;Courses&emsp;&emsp;</span></a><a href="/Registration"><span id="copy-right">&emsp;&emsp;Register&emsp;&emsp;</span></a><a href="/contact"><span id="copy-right">&emsp;Contact</span></a></p> 
</div>
  <p class="mb-0 mt-0" id="copy-right" >Copyright © 2023 All rights reserved | <b>Powered by WIN  Digital</b> </p>
  </div>
</footer>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>

<script src="js/aos.js"></script>
<script>
    const cards = document.querySelectorAll('.card');
const loadMoreBtn = document.querySelector('#load-more-btn');
let visibleCards = 4; // adjust this number as needed

for (let i = visibleCards; i < cards.length; i++) {
  cards[i].style.display = 'none';
}

loadMoreBtn.addEventListener('click', function() {
  for (let i = visibleCards; i < visibleCards + 2 && i < cards.length; i++) {
    cards[i].style.display = 'block';
  }
  visibleCards += 2;
  if (visibleCards >= cards.length) {
    loadMoreBtn.style.display = 'none';
  }
});
$("#submit-forms").submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:"https://script.google.com/macros/s/AKfycby97ZJ7gXV8ghOt6z4JZhVLR-bTV6CLfJl2a-OQRccJwcbJT_FJ6UBbHimYPVK_S84rLg/exec",
        data:$("#submit-forms").serialize(),
        method:"post",
        success:function (response){
        Swal.fire(
'Your message was sent',
'Thank you!',
'success'
)
setTimeout(function(){
window.location.reload();
}, 2000);
          //window.location.href="https://google.com"
      },
      error:function (err){
          alert("Something Error")

      }
  })
})
</script>
<script src="js/script.js"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
</body>
</html>