<!DOCTYPE html>
<html lang="en">
<head>
<title>What is next</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/tiny-slider.css">
<link rel="stylesheet" href="css/glightbox.min.css">
<link rel="stylesheet" href="css/aos.css">
<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="images/WIN Logo.png" type="image/icon type">
<script src="https://kit.fontawesome.com/76272be822.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-6qijLpAS8gdpsJLVoIZ+MUgSDw0bjWk91vffZQ6mbNl6r3qjW8ASvFy71R+rIz6xwUyeW8Yv5A5P9Dmztg+Ibg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=Hello" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
  <style>
    .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	left:25px;
	background-color:#25d366;
	color:#ffffff;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
}

.my-float{
	margin-top:16px;
}

    .img {
  vertical-align: middle;
  border-style: none; }
.ftco-about {
  position: relative;
  z-index: 0; }
  .ftco-about .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .1;
    background: #000000;
    z-index: -1; }
  .ftco-about .about-wrap {
    position: relative;
    width: 100%; }
    @media (max-width: 767.98px) {
      .ftco-about .about-wrap {
        height: 400px; } }
  .ftco-about .img {
    -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    border: 15px solid #fff;
    width: 70%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0; }
    @media (max-width: 767.98px) {
      .ftco-about .img {
        height: 400px; } }
  .ftco-about .img-2 {
    -webkit-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
    border: 15px solid #fff;
    width: 60%;
    height: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .ftco-about .about-intro {
    width: 100%;
    position: relative;
    z-index: 99; }
    .ftco-section {
  padding: 7em 0;
  position: relative;
  width: 100%; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }


#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: .3s;
}
#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
</style>

<!-- <div class="top-wrap">
<div class="container">
<div class="row">
<div class="col-md col-xl-5 d-flex align-items-center ">
<a class="navbar-brand align-items-center mb-5" href="index.html">
  
  <section class="logos okk">
    <img src="images/mes blue.png" class="nextt  ok">
</section>
</a>
</div>
<div class="col-md d-flex align-items-center">
<div class="con d-flex ">
<div class="icon mb-5 "><span class="flaticon-clock"></span></div>
<div class="text  ">
<span>Monday - Friday</span>
<strong>8:00AM-8:00PM</strong>
</div>
</div>
</div>
<div class="col-md d-flex align-items-center">
<div class="con d-flex">
<div class="icon mb-5 "><span class="flaticon-telephone"></span></div>
<div class="text">
<span>Call Us</span>
<strong>+2 392 3929 210</strong>
</div>
</div>
</div>
<div class="col-md d-flex justify-content-end align-items-center">
<div class="social-media ">
<p class="mb-5 d-flex">
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
</p>
</div>
</div>
</div>
</div>
</div> -->

  <nav class="navbar">
      <div class="logos okk"><img class="nextt  ok" src="../images/mes blue.png" alt="Logo"></div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i  class="fa fa-bars"></i>
      </label>
      <ul >
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
<li class="nav-item"><a class="nav-link " href="/team">About Us</a></li>
<li class="nav-item"><a class="nav-link" href="/Registration-form">Register</a></li>

<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </nav>
<section class="hero-wrap" style="background-image: url('images/coo.jpg');">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text align-items-center">
<div class="col-lg-5">
<div class="text " data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
<span class="subheading">MUST KNOW BEFORE CHOOSE</span>
<h1 class=""> Are You Confused About Future?<br>
  We Can Help You!</h1>
<p class="mb-4 sub-thin-heading">Looking For Best University And Less Fees?</p>
<p><a href="#" class="btn btn-primary p-4 py-3">We are here to help You <span class="ion-ios-arrow-round-forward"></span></a> <a href="#" class="btn btn-white p-4 py-3"  onclick="window.open('images/MES.pdf')">view course<span class="ion-ios-arrow-round-forward"></span></a></p>
</div>
</div>
</div>
</div>
</section>
<button id="open-modal" class="fa-solid fa-file"></button>
<section class="ftco-section ftco-no-pt ftco-no-pb">
<div class="container-xl">
<div class="row g-xl-5">
<div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
<div class="img w-100" style="background-image: url(images/about.jpg);">
</div>
</div>
<div class="col-md-6 heading-section d-flex align-items-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
<div class="mt-0 my-lg-5 py-5">
<span class="subheading">Learn Anything</span>
<h2 class="mb-2">DISCOVER THE BEST COLLEGE FOR YOU.</h2>
<div class="row mt-4 g-lg-2">
<div class="col-lg-12 d-flex align-items-stretch services-wrap">
<div class="services d-flex">
<div class="icon"><span class="flaticon-online-learning"></span></div>
<div class="text">
<h2>We Recommend Best universities</h2>
<p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div>
</div>
</div>
<div class="col-lg-12 d-flex align-items-stretch services-wrap">
<div class="services d-flex">
<div class="icon"><span class="flaticon-certificate"></span></div>
<div class="text">
<h2>Earn A Certificates</h2>
<p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div>
</div>
</div>
<div class="col-lg-12 d-flex align-items-stretch services-wrap">
<div class="services d-flex">
<div class="icon"><span class="flaticon-scientist"></span></div>
<div class="text">
<h2>Learn with Expert</h2>
<p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

  <div class="container">
  <div class="row">
  <div class="col-md-10 mt-4 heading-section" data-aos="fade-up">
  <h6>What is next.in</h6>
  <h2 class="">INDIA</h2>
  </div>
  </div>
  <p class="mb-4 ml-5 mr-5"> Students looking to study in India have only handful of options available. We give students best options available. We also provide scholarship options on the basis of marks. Hence, we trying to solve one of the most complicated and critical thing in the world, our experts focused on bringing best outcome. </p>
  <p class="mb-4 ml-5 mr-5">Student want to be confident that the post-secondary studies they choose is the best option for them. The recommender helps the student discover the best schools that they can get admitted. This unbiased platform helps students connect with universities and colleges that are the best fit for their grades and interests.</p>

  <div class="col-md-10  heading-section" data-aos="fade-up">
  <h2 class="">OUR GOALS</h2>
</div>
<p class="mb-5">Our goal is to help students by facilitate admissions in their dream universities and colleges along with that we facilitate accomodation and scholarships.<br>We aspire to become India's largest student portal and wants to reduce all the difficulties in university admission process. </p>
</div> 



<div id="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Get Brochure</h2>
   <form>
    <div class="row">
  <div class="form-group col-md-6">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" placeholder="Full Name" required>
  </div>
 
   <div class="form-group col-md-6">
    <label for="name">Mobile No:</label>
    <input type="number" class="form-control" id="name" placeholder="Enter your mobile no:" required>
  </div>
   </div>
  <div class="row">
  <div class="form-group col-md-6">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
  </div>
<div class="form-group col-md-6">
    <label for="name">Course:</label>
    <input type="text" class="form-control" id="name" placeholder="Enter course" required>
  </div>
  </div>
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>
  </div>
</div>

<style>
   /* The Modal */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

 
   #open-modal{
	position:sticky;
	width:40px;
	height:50px;
	bottom:250px;
	left: 1350px;
	 background-image: linear-gradient(to bottom, #2133d8 0%, #38c3d3 100%);
	color:#ffffff;
	border-radius:50px;
	text-align:center;
    font-size:20px;
    z-index:100;
   }



/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


</style>

<script>
    // Get the modal
var modal = document.getElementById("modal");

// Get the button that opens the modal
var btn = document.getElementById("open-modal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>
<section class="ftco-section ftco-about img">
  <div class="container">
  <div class="row d-flex">
  <div class="col-md-12 about-intro">
  <div class="row">
  <div class="col-md-6 d-flex">
  <div class="d-flex about-wrap">
  <div class="img d-flex align-items-center justify-content-center"  style="background-image:url(images/image_3.jpg);">
  </div>
  <div class="img-2 d-flex align-items-center justify-content-center" style="background-image:url(images/gra.jpg);">
  </div>
  </div>
  </div>
  <div class="col-md-6 pl-md-5 py-5">
  <div class="row justify-content-start pb-3">
  <div class="col-md-12 heading-section ftco-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
  {{!-- <span class="subheading">Enhanced Your Skills</span> --}}
  <h2 class="mb-4">Why Choose Us?</h2>
  <p>Looking to make a big career move? We’re here to help! Our Team #whatisnext comprises experienced professionals dedicated to helping students achieve their academic and career goals by choosing the right Course and Right University/College which personalised to suit you.</p>

<div class="row">
  <div class="col">
    <ul class="unordered-list">
      <li class="icon-list"><img src="../images/carrer.png" class="icon-img"/>CAREER COUNSELING</li>
      <li class="icon-list"><img src="../images/location.png" class="icon-img "/>ADMISSION GUIDANCE</li>
      <li class="icon-list"><img src="../images/search.png" class="icon-img "/> APTITUDE TESTING</li>
      <li class="icon-list"><img src="../images/child.png" class="icon-img "/>ADMISSION GUIDANCE</li>
      <li class="icon-list"><img src="../images/promotion.png" class="icon-img "/>PERSONALITY TRAINING</li>
      <li class="icon-list"><img src="../images/job-search.png" class="icon-img "/>JOB SEARCH STRATEGIES</li>
      <li class="icon-list"><img src="../images/award.png" class="icon-img "/>MERIT ASSISTANCE</li>
      <li class="icon-list"><img src="../images/test.png" class="icon-img "/><span>COMPETITIVE EXAM TRAINING</span> </li>
      <li class="icon-list"><img src="../images/resume.png" class="icon-img "/>
      <span>APPLICATION ASSISTANCE</span> </li>
    </ul>
  </div>
  <div class="col">
    <ul class="unordered-list">
    <li class="icon-list"><img src="../images/college.png" class="icon-img "/> COLLEGES COMPARISON</li>
      <li class="icon-list"><img src="../images/learning.png" class="icon-img "/> COURSE SELECTION</li>
      <li class="icon-list"><img src="../images/op.png" class="icon-img "/>CAREER OPTIONS</li>
      <li class="icon-list"><img src="../images/online.png" class="icon-img "/>INTERVIEW TRAINING</li>
      <li class="icon-list"><img src="../images/scholarship.png" class="icon-img "/>SCHOLARSHIPS</li>
      <li class="icon-list"><img src="../images/visitor.png" class="icon-img "/>CAMPUS VISITS</li>
      <li class="icon-list"><img src="../images/admission.png" class="icon-img "/> DIRECT ADMISSION</li>
      <li class="icon-list"><img src="../images/placement.png" class="icon-img "/>PLACEMENTS</li>
      <li class="icon-list"><img src="../images/personal.png" class="icon-img "/>BANK LOAN ASSISTANCE</li>
    </ul>
  </div>
</div>
<style>
    .row {
  display: flex;
  
  align-items: stretch;
}

.col {
  flex: 1;
  margin: 0 10px;
}

.unordered-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.unordered-list li {
  margin-bottom: 5px;
}

</style>

<style>
.icon-list {
  list-style: none;
  margin-bottom: 10px;
   font-size:13px;
   color: #000000;
   font-weight: bold;
}
  @media (max-width: 767.98px) {
        .icon-list .icon-img {
            height: 1.188rem;
     width: 1.188rem;
      margin-right: 5px;
          } }
    @media (max-width: 575.98px) {
      .icon-list{
        font-size: 10px;
         
        font-family: ;
        font-weight: normal;
         } }
.icon-img{
    height: 3.188rem;
     width: 3.188rem;
     margin-right: 10px;
}

</style>


{{!-- <style>
    .icon-list {
  list-style-type: none;
}

.icon-list li {
  margin-bottom: 10px;
}

.circle-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}


</style> --}}




  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  
<section class="ftco-section-counter img" style="background-image: url(images/image_6.jpg);">
<div class="overlay"></div>
<div class="container">
<div class="row section-counter">
<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
<div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
<div class="icon">
<span class="flaticon-graduation"></span>
</div>
<div class="text">
<h2 class="number"><span class="countup">3000</span></h2>
<span class="caption">Success Stories</span>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
<div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
<div class="icon">
<span class="flaticon-scientist"></span>
</div>
<div class="text">
<h2 class="number"><span class="countup">320</span></h2>
<span class="caption">Trusted Tutors</span>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
<div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
<div class="icon">
<span class="flaticon-calendar"></span>
</div>
<div class="text">
<h2 class="number"><span class="countup">1000</span></h2>
<span class="caption">Schedules</span>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch">
<div class="counter-wrap-2 d-flex" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
<div class="icon">
<span class="flaticon-learning"></span>
</div>
<div class="text">
<h2 class="number"><span class="countup">587</span></h2>
<span class="caption">Courses</span>
</div>
</div>
</div>
</div>
</div>
</section>


 
<!-- <div class="col-md-12" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
<div class="carousel-courses">
<div class="item">
<div class="courses">
<div class="d-flex">
<div class="icon"><span class="flaticon-engineer"></span></div>
<div class="text">
<h2>Basic Fundamentals for Software Engineering</h2>
<p class="rate">
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span>(5.0)</span>
</p>
<div class="author-wrap d-flex align-items-center">
<div class="img" style="background-image: url(images/author-1.jpg);"></div>
<span class="author">by John Smith</span>
</div>
<p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
</div>
</div>
<div class="text-center bg-light rounded py-2 my-3">
<p class="course-price mb-0"><span>$100 All Course</span> / <span>$15 per month</span></p>
</div>
<div class="text-center">
<a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
</div>
</div>
</div>
<div class="item">
<div class="courses">
<div class="d-flex">
<div class="icon"><span class="flaticon-design"></span></div>
<div class="text">
<h2>Enhancing Adobe Photoshop CC 2020 Skills</h2>
<p class="rate">
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span>(5.0)</span>
</p>
<div class="author-wrap d-flex align-items-center">
<div class="img" style="background-image: url(images/author-1.jpg);"></div>
<span class="author">by John Smith</span>
</div>
<p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
</div>
</div>
<div class="text-center bg-light rounded py-2 my-3">
<p class="course-price mb-0"><span>$100 All Course</span> / <span>$15 per month</span></p>
</div>
<div class="text-center">
<a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
</div>
</div>
</div>
<div class="item">
<div class="courses">
<div class="d-flex">
<div class="icon"><span class="flaticon-algorithm"></span></div>
<div class="text">
<h2>HTML, CSS, and Javascript for Web Developers</h2>
<p class="rate">
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span>(5.0)</span>
</p>
<div class="author-wrap d-flex align-items-center">
<div class="img" style="background-image: url(images/author-1.jpg);"></div>
<span class="author">by John Smith</span>
</div>
<p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
</div>
</div>
<div class="text-center bg-light rounded py-2 my-3">
<p class="course-price mb-0"><span>$100 All Course</span> / <span>$15 per month</span></p>
</div>
<div class="text-center">
<a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
</div>
</div>
</div>
<div class="item">
<div class="courses">
<div class="d-flex">
<div class="icon"><span class="flaticon-coding"></span></div>
<div class="text">
<h2>Introducing to Programming with WordPress </h2>
<p class="rate">
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span>(5.0)</span>
</p>
<div class="author-wrap d-flex align-items-center">
<div class="img" style="background-image: url(images/author-1.jpg);"></div>
<span class="author">by John Smith</span>
</div>
<p class="lec"><a href="#">50 lectures (190 hrs)</a></p>
</div>
</div>
<div class="text-center bg-light rounded py-2 my-3">
<p class="course-price mb-0"><span>$100 All Course</span> / <span>$15 per month</span></p>
</div>
<div class="text-center">
<a href="#" class="btn d-block btn-primary btn-outline-primary py-3">Enroll Now!</a>
</div>
</div>
</div>
</div>
</div> -->

<section class="ftco-section">
  <div class="container-xl">
  <div class="row justify-content-center">
  <div class="col-md-8 heading-section text-center mb-5" data-aos="fade-up" data-aos-duration="1000">
  <!-- <span class="subheading">Courses</span> -->
  <h2 class="mb-4"> Our Courses</h2>
  </div>
  </div>
  
  <div class="row g-lg-2 justify-content-center mb-5 ">
  <div class="col-md-3  col-xl-2  text-center d-flex align-items-stretch ">
  <a href="#" class="services-2">
  <div class="icon"><span class="fi fi-sr-medicine"></span></div>
  <div class="text">
  <h2 class="card-name">Medical Courses</h2>
  
  </div>
  </a>
  </div>
  
  <div class="col-md-3 col-sm-4  col-xl-2 text-center d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
  <a href="#" class="services-2 active">
  <div class="icon"><span class="flaticon-paint-palette"></span></div>
  <div class="text">
  <h2>Management Course </h2>
  
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4  col-xl-2 text-center d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-newborn"></span></div>
  <div class="text">
  <h2 class="card-name"> Dental Courses</h2>
 
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xl-2 text-center d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-magnifying-glass"></span></div>
  <div class="text">
   <h2 class="card-name">Ayurvedic Courses</h2>
  
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xl-2 text-center d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-engineer"></span></div>
  <div class="text">
  <h2 class="card-name">Engineering Courses</h2>
  
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-algorithm"></span></div>
  <div class="text">
  <h2 class="card-name">Commerce Courses</h2>
  
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4  col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-dumbbell"></span></div>
  <div class="text">
  <h2 class="card-name">Science Courses</h2>
  
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-bullhorn"></span></div>
  <div class="text">
  <h2 class="card-name">Pharmacy Courses</h2>
  
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-vector"></span></div>
  <div class="text">
  <h2 class="card-name">Paramedical Courses</h2>
  
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-musical-notes"></span></div>
  <div class="text">
  <h2 class="card-name">Computers application Courses</h2>
  
  </div>
  </a>
  </div>
  
  <div class="col-md-3 col-sm-4 col-xl-2 text-center d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-calendar-1"></span></div>
  <div class="text">
  <h2 class="card-name">Business Administration</h2>
  
  </div>
  </a>
  </div>
  <div class="col-md-3 col-sm-4 col-lg-2 col-xxl-2 col-4 col-xl-2 text-center d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
  <a href="#" class="services-2">
  <div class="icon"><span class="flaticon-coding"></span></div>
  <div class="text">
  <h2 class="card-name">Other Courses</h2>
  
  </div>
  </a>
  </div>
  
    
  </div>
    <a href="/courses" id="loadMore">Load More</a>
  </div>
  
  </section>
  
<!-- <section class="ftco-section testimony-section bg-light">
<div class="container-xl">
<div class="row justify-content-center pb-4">
<div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
<span class="subheading">Testimonial</span>
<h2 class="mb-5">Our Successful Students</h2>
</div>
</div>
<div class="row">
<div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
<div class="carousel-testimony">
<div class="item">
<div class="testimony-wrap">
<div class="text">
<div class="d-flex align-items-center mb-4">
<div class="user-img" style="background-image: url(images/person_1.jpg)">
<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
</div>
<div class="ps-3 tx">
<p class="name">Roger Scott</p>
<span class="position">Marketing Manager</span>
</div>
</div>
<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap">
<div class="text">
<div class="d-flex align-items-center mb-4">
<div class="user-img" style="background-image: url(images/person_2.jpg)">
<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
</div>
<div class="ps-3 tx">
<p class="name">Roger Scott</p>
<span class="position">Marketing Manager</span>
</div>
</div>
<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap">
<div class="text">
<div class="d-flex align-items-center mb-4">
<div class="user-img" style="background-image: url(images/person_3.jpg)">
<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
</div>
<div class="ps-3 tx">
<p class="name">Roger Scott</p>
<span class="position">Marketing Manager</span>
</div>
</div>
<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap">
<div class="text">
<div class="d-flex align-items-center mb-4">
<div class="user-img" style="background-image: url(images/person_1.jpg)">
<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
</div>
<div class="ps-3 tx">
<p class="name">Roger Scott</p>
<span class="position">Marketing Manager</span>
</div>
</div>
<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div>
</div>
</div>
<div class="item">
<div class="testimony-wrap">
 <div class="text">
<div class="d-flex align-items-center mb-4">
<div class="user-img" style="background-image: url(images/person_2.jpg)">
<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
</div>
<div class="ps-3 tx">
<p class="name">Roger Scott</p>
<span class="position">Marketing Manager</span>
</div>
</div>
<p class="mb-4 msg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section> -->
<section class="ftco-section testimony-section bg-light">
  <div class="container-xl">
  <div class="row justify-content-center pb-4">
  <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
  <span class="subheading">Testimonial</span>
  <h2 class="mb-5">Our Successful Students</h2>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
  <div class="carousel-testimony">
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url('images/mehru.jpeg')">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="name">Mehar Ban K.R 
  </p> 
  <p>( 3rd Year Bsc Mit )</p>
  <span class="position" style="color: rgb(51, 0, 170);">
   East point medical college</span>
  </div>
  </div>
  <p class="mb-4 msg"> “ As a new student at colleges in Bangalore, What Is Next gave me convincing advice on choosing the right course and university.Considering me seeing Bangalore for the first time, What's Next .in supported me in this new city by providing pickup,drop and freshup .As a third-year student, I encourage all delegates to choose What Next for their Excellent future. “</p>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url(images/Vanitha.jpeg)">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="name">Vanitha Prabhakar</p>
  <p>( Intern student )</p>
  <span class="position" style="color: rgb(51, 0, 170);">Bsc Cardiac care , RR institute of Medical sciences</span>
  </div>
  </div>
  <p class="mb-4 msg">“ They are not like other consultants, they have direct contact with the college management so there will no issue. They helped me out throughout my admission process. They even guided  me reaching out  the correct location of college, so
  U can blindly trust this educational consultancy. “</p>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url(images/don.jpeg)">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="name">Don mathew </p>
  <p>( Bsc Nursing )</p>
  <span class="position" style="color: rgb(51, 0, 170);">shusruthy college of nursing</span>
  </div>
  </div>
  <p class="mb-4 msg">“ I highly recommend [educational consultancy name] for anyone seeking guidance and support in their academic journey. The team was incredibly knowledgeable and provided me with personalized advice that helped me achieve my educational goals. Thanks to their guidance, I was able to get into my dream university and achieve success beyond my expectations. I am grateful for their support and would definitely use their services again. “ </p>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url(images/g.jpeg)">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="name">Gouri Vijayakumar</p>
  <p>( 1st Year Fashion Designing  )</p>
  <span class="position" style="color: rgb(51, 0, 170);"> Bgs & SJB Group of institutions </span>
  </div>
  </div>
  <p class="mb-4 msg">“ when i had no clue about bangalore and the colleges in bangalore thats when i came to know about whatis next after which i contacted them and i got advices on the courses and colleges in bangalore. after which suggested to come to bangalore so i could know about the colleges personally. when i reached bangalore they cam and picked me up and showed me all the suitable colleges. they also gave me an opportunity to directly talk with the university. any students who are willing to come to bangalore. i would suggest WhatsNext. in! “</p>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url(images/ro.jpeg)">
  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="name"> ROHITH</p>
  <p>( Bsc psychology )</p>
  <span class="position" style="color: rgb(51, 0, 170);"> Christ deemed to be university </span>
  </div>
  </div>
  <p class="mb-4 msg">“ I had a wonderful experience with [whatisnext.in]. The team provided me with personalized guidance for my study abroad plans and made the entire process seamless. They were incredibly knowledgeable about different universities and their admission processes, and helped me select the perfect program for my academic and personal goals. Even after I was admitted into the university, they continued to provide support and ensured that I had everything I needed for a smooth transition. I highly recommend their services to anyone looking to pursue education abroad. “</p>
  </div>
  </div>
  </div>
  <div class="item">
  <div class="testimony-wrap">
  <div class="text">
  <div class="d-flex align-items-center mb-4">
  <div class="user-img" style="background-image: url(images/alan.jpeg)">
   <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
  </div>
  <div class="ps-3 tx">
  <p class="name">ALAN T MATHAY</p>
  <p>( 1st Year BPT ) </p>
  <span class="position" style="color: rgb(51, 0, 170);">MVM Group of Institutions, Yelahanka Bangalore</span>
  </div>
  </div>
  <p class="mb-4 msg">“ I was struggling to find the right university program for my career goals, but whatisne xt.in provided me with the guidance and resources I needed to make an informed decision. The team was patient, understanding, and always available to answer my questions. They helped me identify my strengths and interests, and provided me with valuable information about different universities and their programs. Thanks to their support, I am now enrolled in a program that is perfect for me and am on track to achieving my career aspirations. Thank you, whatisnext! “  </p>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>


<section>
<center>  <h2 class="mb-5" style="font-weight: 400; font-size: 40px;">Top Colleges & Universities</h2></center>
    <div class="container mb-5">
       <marquee  width="90%" direction="left" height="100px" scrollamount="10"> <div class="row g-5">
          <div class="col col-6 col-sm-6 col-md-4 col-xl-4 col-xxl-4 col-lg-4"><div class="card-collage "><center><a href="#gal9"><img src="images/u1.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u2.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u3.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u4.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u5.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u6.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u7.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u8.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u9.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u10.jpg" alt="High Edu" class="collage-img"></a><a href="#gal9"><img src="images/u11.jpg" alt="High Edu" class="collage-img"></a></center></div></div>
 
            
        </div></marquee>
    </div>
</section>
<style>
    .collage-img{
     
        height: 110px;
        width: 280px;
         margin-right: 20px;
        box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    }
 
      @media (max-width: 767px) {
       .collage-img{
     
        height: 60px;
        width: 130px;
    }
    
      }
</style>

<section class="ftco-intro py-5 bg-primary">
<div class="container">
<div class="row d-flex justify-content-center">
<div class="col-lg-10">
<div class="row g-lg-5">
<div class="col-md-7 text-lg-right">
<h2 class="mb-0">Stay tune and get the latest update</h2>
<p>Far far away, behind the word mountains</p>
</div>
<div class="col-md-5 border-left d-flex align-items-center">
<form action="#" class="subscribe-form">
<div class="form-group d-flex align-items-center">
<input type="text" class="form-control" placeholder="Enter email address">
<a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</section>
<footer class="ftco-footer">
<div class="container-xl">
<div class="row mb-5 justify-content-between">
<div class="col-md-6 col-lg">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2 logo d-flex">
  <section class=" logo-footer">
    <img src="images/mes blue.png" class="footer-logo">
</section>

</a>
</h2>
<p>Whatisnext.in mentors have shaped the future of 3000+ students and working professionals based on their skill, background and dream.</p>
<ul class="ftco-footer-social list-unstyled mt-2">
<li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
<li><a href="https://www.facebook.com/profile.php?id=100066432039919&mibextid=LQQJ4d"><span class="fa fa-facebook"></span></a></li>
<li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-md-6 col-lg-2">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Explore</h2>
<ul class="list-unstyled">
<li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>About Us</a></li>
<li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Services</a></li>
<li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Courses</a></li>
<li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Contact us</a></li>
</ul>
</div>
</div>
<div class="col-md-6 col-lg-2">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Quick Links</h2>
<ul class="list-unstyled">
<li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Contact Us</a></li>
<li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Terms &amp; Conditions</a></li>
<li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Feedbacks</a></li>
</ul>
</div>
</div>

<div class="col-md-6 col-lg">
<div class="ftco-footer-widget mb-4">
<h2 class="ftco-heading-2">Have a Questions?</h2>
<div class="block-23 mb-3">
<ul>
<li><a href="https://g.co/kgs/kQBsSD"><span class="icon fa fa-map marker"></span><span class="text">Whatisnext. in Edu Website ( Office ) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span></a></li>
<li><a href="tel:9061296874"><span class="icon fa fa-phone"></span><span class="text">+91 90194 17635 ( Kerala ) <br> +91 9061296874 ( Bangalore )
   </span></a></li>
   
<li> <a href="mailto:info@whatisnext.in" ><span class="icon fa fa-paper-plane"></span><span class="text">info@whatisnext.in </span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</footer>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/aos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a4c07564ff44b98","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}' crossorigin="anonymous"></script> -->
</body>
</html>