<!DOCTYPE html>
<html lang="en">
<head>
<title>What is next-Registration-form</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/tiny-slider.css">
<link rel="stylesheet" href="css/glightbox.min.css">
<link rel="stylesheet" href="css/aos.css">
<link rel="stylesheet" href="css/style.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


 
</head>
<script src="js/script.js"></script>
<body>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=Hello" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
   <!--Start of Tawk.to Script-->
 <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/640f100231ebfa0fe7f243f5/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=9019417635&text=Hello" class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
  <style>
      .float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:20px;
  left:25px;
  background-color:#25d366;
  color:#ffffff;
  border-radius:50px;
  text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .my-float{
  margin-top:16px;
  }
  /* ==========================================================================
   #FONT
   ========================================================================== */
  
  /* ==========================================================================
   #GRID
   ========================================================================== */
  .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  }
  
  .row .col-2:last-child .input-group-desc {
  margin-bottom: 0;
  }
  
  .row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  }
  
  .row-refine {
  margin: 0 -15px;
  }
  
  .row-refine .col-3 .input-group-desc,
  .row-refine .col-9 .input-group-desc {
  margin-bottom: 0;
  }
  
  
  .form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
  }
  
  .form-row .name {
  width: 125px;
  color: #555;
  font-size: 15px;
  font-weight: 700;
  }
  
  .form-row .value {
  width: -webkit-calc(100% - 125px);
  width: -moz-calc(100% - 125px);
  width: calc(100% - 125px);
  }
 
  @media (max-width: 767px) {
  .form-row .name{
    font-size: 14px;
  font-weight: 700;
    display: block;
  }

  
  .form-row .name,
  .form-row .value {
    display: block;
    width: 100%;
  }
  .form-row .name {
    margin-bottom: 7px;
  }
  }
  
  /* .col-3,
  .col-9 {
  padding: 0 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  } */
  
  /* .col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  }
  
  @media (max-width: 767px) {
  .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
  }
  
  .col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  }
  
  @media (max-width: 767px) {
  .col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
  }
  } */
  
  /* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
  /**
  * More sensible default box-sizing:
  * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
  */

  /**
  * Remove trailing margins from nested lists.
  */
  li > ol,
  li > ul {
  margin-bottom: 0;
  }
  
  /**
  * Remove default table spacing.
  */
  table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  
  /**
  * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
  *    on fieldsets.
  */
  fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
  }
  
  button {
  outline: none;
  background: none;
  border: none;
  }
  
  /* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
  .page-wrapper {
  min-height: 85vh;

  }
  

  
  h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  }
  
  h1 {
  font-size: 36px;
  }
  
  h2 {
  font-size: 70px;
  }
  
  h3 {
  font-size: 24px;
  }
  
  h4 {
  font-size: 18px;
  }
  
  h5 {
  font-size: 15px;
  }
  
  h6 {
  font-size: 13px;
  }
  
  /* ==========================================================================
   #BACKGROUND
   ========================================================================== */
  
  /* ==========================================================================
   #SPACING
   ========================================================================== */
  .p-t-100 {
  padding-top: 100px;
  }
  
  .p-t-130 {
  padding-top: 130px;
  }
  
  .p-t-180 {
  padding-top: 180px;
  }
  
  .p-t-45 {
  padding-top: 45px;
  }
  
  .p-t-20 {
  padding-top: 5px;
  }
  
  .p-t-15 {
  padding-top: 15px;
  }
  
  .p-t-10 {
  padding-top: 10px;
  }
  
  .p-t-30 {
  padding-top: 30px;
  }
  
  .p-b-100 {
  padding-bottom: 100px;
  }
  
  .p-b-50 {
  padding-bottom: 50px;
  }
  

  
  .m-b-55 {
  margin-bottom: 40px;
  }
 
  @media (max-width: 767px) {
    .m-b-55  {
    margin-bottom: 5px;
   
  }
  }
  /* ==========================================================================
   #WRAPPER
   ========================================================================== */
  .wrapper {
  margin: 0 auto;
  }
  
  .wrapper--w960 {
  max-width: 960px;
  }
  
  .wrapper--w790 {
  max-width: 790px;
  }
  @media (max-width: 767px) {
    .wrapper--w790 {
      max-width: 95%;
  }
  }
  .wrapper--w780 {
  max-width: 780px;
  }
  
  .wrapper--w680 {
  max-width: 680px;
  }
  
  /* ==========================================================================
   #BUTTON
   ========================================================================== */
  .btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
  }
  
  .btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }
  
  .btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
  }
  
  .btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  }
  
  .btn--green {
  background: #57b846;
  }
  
  .btn--green:hover {
  background: #4dae3c;
  }
  
  .btn--blue {
  background: #4272d7;
  }
  
  .btn--blue:hover {
  background: #3868cd;
  }
  
  .btn--red {
  background: #4c9ade;
  }
  
  .btn--red:hover {
  background: #eb3746;
  }
  
  /* ==========================================================================
   #DATE PICKER
   ========================================================================== */
  td.active {
  background-color: #2c6ed5;
  }
  
  input[type="date" i] {
  padding: 14px;
  }
  
  .table-condensed td, .table-condensed th {
  font-size: 14px;
  
  font-weight: 400;
  }
  
  .daterangepicker td {
  width: 40px;
  height: 30px;
  }
  
  .daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #000000;
  margin-top: 5px;
  }
  
  .daterangepicker::after, .daterangepicker::before {
  display: none;
  }
  
  .daterangepicker thead tr th {
  padding: 10px 0;
  }
  
  .daterangepicker .table-condensed th select {
  border: 1px solid #010101;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
  }
  
  /* ==========================================================================
   #FORM
   ========================================================================== */
  input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  
  }
  
  .radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  @media (max-width: 767px) {
    .radio-container{
        display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 12px;
  color: #666;
  
  }
  }

  .radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  }
  
  .radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
  }
  
  .radio-container input:checked ~ .checkmark:after {
  display: block;
  }
  
  .radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #57b846;
  }
  @media (max-width: 767px) {
    .checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  }
  }
  @media (max-width: 767px) {
    .radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #4651b8;
  }
  }
  .checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  }
  
  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }
  .c{
    background: #e5e5e5;
  }
  .input--style-5 {
  background: #e5e5e5;
  line-height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 16px;
  color: #000000;
  }
  @media (max-width: 767px) {
    .input--style-5  {
    margin-bottom: 40px;
    font-size: 10px;
  }
  }
  .input-group-desc {
  position: relative;
  }
  
  @media (max-width: 767px) {
  .input-group-desc {
    margin-bottom: 40px;
  }
  }
  
  .input-group {
  position: relative;
  margin: 0;
  }
  
  .label {
  color: #555;
  font-size: 15px;
  font-weight: 700;
  }
  @media (max-width: 767px) {
  .label{
    font-size: 10px;
  font-weight: 550;
    display: block;
  }}
  .label--block {
  width: 100%;
  }
  
  .label--desc {
  position: absolute;
  text-transform: capitalize;
  display: block;
  color: #999;
  font-size: 14px;
  margin: 0;
  margin-top: 7px;
  left: 0;
  }
  
  /* ==========================================================================
   #SELECT2
   ========================================================================== */
  .select--no-search .select2-search {
  display: none !important;
  }
  
  .select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
  }
  
  .select2-container--default .select2-results__option {
  padding-left: 22px;
  }
  
  .rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
  background: #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
  
  .rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 50px;
  background: transparent;
  }
  
  .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 0;
  color: #8c0000;
  font-size: 16px;
  
  padding-left: 22px;
  padding-right: 50px;
  }
  
  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 50px;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  }
  
  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
  }
  
  .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  
  content: '\f2f9';
  font-size: 24px;
  color: #950000;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  }
  
  .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  }
  
  /* ==========================================================================
   #TITLE
   ========================================================================== */
  .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
  }
  @media (max-width: 767px) {
    .title {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 550;
  text-align: center;
  color: #fff;
  }
  }
  /* ==========================================================================
   #CARD
   ========================================================================== */
  .card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  }
  
  .card-5 {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
  
  .card-5 .card-heading {
  padding: 20px 0;
  background: #142474;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  }
 
  .card-5 .card-body {
  padding: 52px 85px;

  padding-bottom: 73px;
  }
  
  @media (max-width: 767px) {
  .card-5 .card-body {
    padding: 40px 30px;
    background-color: #ffffff;
    padding-bottom: 50px;
    color: white;
  }
  }
  
 
  </style>
  
    <nav class="navbar">
    <a href="/"><div class="logos okk"><img class="nextt  ok" src="images/mes blue.png" alt="Logo"></div></a> 
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i  class="fa fa-bars"></i>
      </label>
      <ul >
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
        <li class="nav-item"><a class="nav-link  " href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/Registration">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </nav>
    <section>
      <div id='show_bg_2'>
        <div class="content-reg">
          <h1>For Admission</h1>
          <p>We Provide Scholarship For Every Course What You Choose...</p>
         
         
          
  
        </div>
       
  
      </div>
      <style>
              #show_bg_2 {
    background-image:
    linear-gradient(to bottom, rgba(38, 98, 142, 0.52), rgba(27, 43, 123, 0.73)),
    url('images/dom-fou-YRMWVcdyhmI-unsplash\ \(1\).jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 0px 0px 95px 0px;
}
.content-reg {

  position: absolute;
  width: 80%;
 margin-top: 200px;
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
}
.content-reg h1 {
  font-size: 40px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content-reg p{
  font-size: 20px;
  
  font-family: 'Poppins',sans-serif;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
 
  .content-reg h1 {
            
  font-size: 30px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.content-reg p{
  font-size: 15px;
 
  font-family:'Poppins',sans-serif;
}
}
      </style>
    </section>
    <style>
      .container-book{
        margin-top: 30px;
      }
      .card-book {
        font-family: inherit;
          width: 790px;
          margin: 0 auto;
          padding: 40px;
          background-color: #142474;
          border-radius: 25px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          text-align: center;
      }

      .card-book h1 {
          font-size: 24px;
          color: white;
          margin-bottom: 10px;
          font-family: inherit;
          font-weight: 500;
      }

      .card-book p {
          font-size: 16px;
          margin-bottom: 20px;
      }

      .card-book button {
          display: block;
          width: 100%;
          padding: 10px;
        
          background-color: #f3ee00;
          color: #000000;
          font-size: 18px;
          font-weight: 600;
          border: none;
          border-radius: 35px;
          cursor: pointer;
      }

      /* Media queries for responsiveness */
      @media (max-width: 768px) {
          .card-book {
              max-width:95%;
          }
      }
  </style>
  <div class="container-book">
 <div class="card-book">
  <h1>Talk with a Mentor</h1>
  
  <a href="reg2.html"><button>Book Video Session</button></a>
</div></div>
<script src="js/script.js"></script>
<p style="font-size: 25px; text-align: center; justify-content: center;" class="mt-4 ">OR</p>
<div class="page-wrapper bg-gra-03  p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">REGISTRATION FORM</h2>
            </div>
            <div class="card-body">
                <form id="submit-form">
                    <div class="form-row  m-b-55">
                        <div class="name">Name</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="name" placeholder="Full name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row  m-b-55 ">
                        <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Mobile number</label>
                                <input  class="input--style-5 " type="tel" class="form-control" name="mobile no." placeholder="mobile no." required>
                                
                              </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Alternative Mobile no.</label>
                              <input  class="input--style-5 " type="tel" name="alternative mobile no." placeholder="mobile no.">
                            </div>
                          </div>
                      </div>
                  

                      <div class="row  m-b-55 ">
                        <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Date of birth</label>
                                <input type="date" id="start" name="Date of birth" value="2018-07-22" required>
                              </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Blood Group</label>
                                <input class="input--style-5" type="text" name="Blood Group" placeholder="Blood Group">
                            </div>
                          </div>
                      </div>
                    
                    <div class="form-row  m-b-55">
                        <div class="name">Email</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="email" name="email" placeholder="Email" required>
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-row p-t-20">
                        <label class="label label--block">Gender</label>
                        <div class="p-t-15">
                            <label class="radio-container m-r-55 mb-2" >Male 
                                <input type="radio" checked="checked" name="gender" id="male" value="male">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container m-r-55 mb-2">Female
                                <input type="radio" name="gender" id="female" value="female">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">other
                              <input type="radio" name="gender" id="other" value="other">
                              <span class="checkmark"></span>
                          </label>
                        </div>
                    </div>

                    <div class="row  m-b-55 ">
                        <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">State</label>
                                <select name="state" id="state" class="form-control">
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Puducherry">Puducherry</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                    <option value="Other">Other</option>
                                    </select>
                              </div>
                          </div>
                          
                          <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">City</label>
                                <input  class="input--style-5" type="text" class="form-control" name="city"  placeholder="City">
                              </div>
                          </div>
                      </div>
                      <div class="row  m-b-55 ">
                        <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Category</label>
                                <input  class="input--style-5 " type="text" class="form-control" name="Category"  placeholder="Category">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Course interested</label>
                                <input class="input--style-5" type="text" name="Course interested" placeholder="Course interested">
                              </div>
                          </div>
                      </div>
                    
                    <div class="form-row">
                        <div class="name">Permanent Address</div>
                        <div class="value">
                            <div class="input-group">
                                
                        <textarea name="Permanent address" class="form-control c" id="message" cols="30" rows="4" placeholder="Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Correspondence Address</div>
                        <div class="value">
                            <div class="input-group">
                                
                        <textarea name="Correspondence address" class="form-control c" id="message" cols="30" rows="4" placeholder="Address"></textarea>
                            </div>
                        </div>
                    </div>
                 
                    <div class="form-row  m-b-55">
                        <div class="name">Aadhaar No/Passport No</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="Aadhaar No/Passport No" placeholder="Aadhaar No/Passport No">
                            </div>
                        </div>
                    </div>

                    <div class="row  m-b-55 ">
                        <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Father name</label>
                              <input  class="input--style-5 " type="text" class="form-control" name="Father-name"  placeholder="father name">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Father mobile number</label>
                              <input  class="input--style-5 " type="number" class="form-control" name="Father mobile no."  placeholder="mobile no.">
                            </div>
                          </div>
                      </div>
                    
                      <div class="row  m-b-55 ">
                        <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Mother name</label>
                                <input  class="input--style-5 " type="text" class="form-control" name="Mother name"  placeholder="mother name">
                              </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Mother mobile number</label>
                              <input  class="input--style-5 " type="number" class="form-control" name="Mother mobile no."  placeholder="mobile no.">
                            </div>
                          </div>
                      </div>
                      
                      <div class="row  m-b-55 ">
                        <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Gardian name</label>
                                <input  class="input--style-5 " type="text" class="form-control" name="Gardian name"  placeholder="Gardian name">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label class="label" for="name">Gardian mobile number</label>
                                <input  class="input--style-5 " type="number" class="form-control" name="Gardian mobile no."  placeholder="mobile no.">
                            </div>
                          </div>
                      </div>
                      <div class="form-row  m-b-55 mb-5">
                        <div class="label mb-2"  for="name">Preffered Contact</div>
                        
                          <div class="custom-checkbox-group">
                            <div class="custom-checkbox">
                              <div class="labels">Father</div>
                              <input type="checkbox" id="checkbox1" name="Preffered Contact" value="Father">
                              <label for="checkbox1"></label>
                            </div>
                            <div class="custom-checkbox">
                              <div class="labels">Mother</div>
                              <input type="checkbox" id="checkbox2" name="Preffered Contact" value="Mother">
                              <label for="checkbox2"></label>
                            </div>
                            <div class="custom-checkbox">
                              <div class="labels">Gardian</div>
                              <input type="checkbox" id="checkbox3"  name="Preffered Contact" value="Gardian">
                              <label for="checkbox3"></label>
                            </div>
                          </div>
                          
                        
                   
                  </div>
               

<style>
 .custom-checkbox-group {
  display: flex;
  margin-left: 20px;
}
.labels{
  margin-left: 1px;
  color: #323232;
}
@media (max-width: 767px) {
  .labels{
  color: #323232;
  font-size: 10px;
}
  }
.custom-checkbox {
  position: relative;
  padding-right: 15px;
  padding-left: 25px; /* Space for the custom checkbox */
  cursor: pointer;
  margin-right: 10px; /* Spacing between checkboxes */
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox label {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; /* Size of the custom checkbox */
  height: 20px; /* Size of the custom checkbox */
  background-color: #eee; /* Background color of the custom checkbox */
  border-radius: 3px; /* Rounded corners */
}

.custom-checkbox label:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + label:after {
  display: block;
}

.custom-checkbox label:after {
  left: 6px; /* Position of the checkmark */
  top: 2px; /* Position of the checkmark */
  width: 8px; /* Size of the checkmark */
  height: 14px; /* Size of the checkmark */
  border: solid #000; /* Color of the checkmark */
  border-width: 0 2px 2px 0; /* Shape of the checkmark */
  transform: rotate(45deg); /* Orientation of the checkmark */
}

</style>                    
          <script>
            document.getElementById('myCheckbox').addEventListener('change', function() {
  // Custom behavior when the checkbox is changed
  if (this.checked) {
    // Do something when the checkbox is checked
  } else {
    // Do something when the checkbox is unchecked
  }
});

          </script>           
                      
                    <h3 class="name text-center mb-5" style="color: #4538d5; font-weight: bold">Name of Institution  last Attended </h3>
                    <div class="form-row  m-b-55">
                        <div class="name"> 10th</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="10th" placeholder="Institution name">
                            </div>
                        </div>
                    </div>
                    <div class="form-row  m-b-55">
                        <div class="name">11th / 12th</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="11th / 12th" placeholder="Institution name">
                            </div>
                        </div>
                    </div>
                    <div class="form-row  m-b-55">
                        <div class="name">Degree/ UG</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="Degree/ UG" placeholder="Institution name">
                            </div>
                        </div>
                    </div>
                    <div class="row  m-b-55 ">
                        <div class="col">
                            <div class="form-group">
                              <label class="label" for="name">Percentage of Mark</label>
                              <input  class="input--style-5 " type="text" class="form-control" name="Percentage"  placeholder="Percentage ">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label class="label" for="name">Source code</label>
                              <input  class="input--style-5 " type="text" class="" name="Source code"  placeholder="Source code">
                            </div>
                          </div>
                      </div>
                      
                    
                      <div class="col-md-12">
                        <div class=" mt-4 text-center">
                            <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  

  
  <section class="ftco-intro py-5 bg-primary">
    <div class="container">
    <div class="row d-flex justify-content-center">
    <div class="col-lg-10">
    <div class="row g-lg-5">
    <div class="col-md-7 text-lg-right">
      <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
      <div class="context">
       
    </div>
    
    
    <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
    <style>
      @import url('https://fonts.googleapis.com/css?family=Exo:400,700');
    
    
    .context {
        width: 100%;
        position: absolute;
        top:10vh;
        
    }
    
    .context h1{
        text-align: center;
        color: #fff;
        font-size: 50px;
    }
    
    
    .area{
       
        background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
        width: 0%;
        height:0vh;
        
       
    }
    
    .circles{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }
    
    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    
    
    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    
    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    
    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    
    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    
    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    
    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    
    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    
    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    
    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    
    
    
    @keyframes animate {
    
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    
    }
    </style>
      <h2 class="mb-0">  <lord-icon
          src="https://cdn.lordicon.com/psnhyobz.json"
          trigger="hover"
          style="width:40px;height:40px; padding-top: 10px; filter:brightness(0) invert(1)">
      </lord-icon>Get weekly updates in your inbox</h2>
    </div>
    <div class="col-md-5 border-left d-flex align-items-center">
    <form action="#" class="subscribe-form">
    <div class="form-group d-flex align-items-center">
    <input type="text" class="form-control" placeholder="Enter email address">
    <a href="#" class="btn-icon"><span class="fa fa-paper-plane"></span></a>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <footer class="ftco-footer">
      <div class="container-xl">
      <div class="row  justify-content-between">
      <div class="col-md-6 col-lg">
      <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2 logo d-flex">
        <section class=" logo-footer">
          <img src="images/white logo.png" class="footer-logo">
      </section>
      
      </a>
      </h2>
      
      <p class="footer-quote" style="color: #d5d5d5; font-size: 13px;">Whatisnext.in mentors have shaped the future of 3000+ students and working professionals based on their skill, background and dream.</p>
      <ul class="ftco-footer-social list-unstyled mt-2">
      <li><a href="https://www.linkedin.com/company/whatisnext-in/"><span class="fa fa-linkedin"></span></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100066432039919&mibextid=LQQJ4d"><span class="fa fa-facebook"></span></a></li>
      <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
      <li><a href="https://instagram.com/whatisnext.in?igshid=YmMyMTA2M2Y="><span class="fa fa-twitter"></span></a></li>
      <li><a href=" https://www.youtube.com/@whatisnext.in"><span class="fa fa-youtube"></span></a></li>
      </ul>
      </div>
      </div>
      <div class="col-md-6 col-lg-2">
      <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">Admissions</h2>
      <ul class="list-unstyled">
      <li><a href="#"><span class="ion ion-ios-arrow-round-forward me-2"></span>Download Brochure</a></li>
      <li><a href="application-form.html"><span class="ion ion-ios-arrow-round-forward me-2"></span>Regration Form</a></li>
      <li><a href="images/Whatisnext.in Application Form 23-24 (3).pdf" download><span class="ion ion-ios-arrow-round-forward me-2"></span>
        scholarship Form
      </a></li>
      </ul>
      </div>
      </div>
      <style>
          
      </style>
      <div class="col-md-6 col-lg">
      <div class="ftco-footer-widget mb-">
      <h2 class="ftco-heading-2">Reach Us</h2>
      <div class="block-23 mb-">
      <ul>
      <li><a href="https://maps.app.goo.gl/HByHCua1haoRW2dXA?g_st=iwb"><span class="icon fa fa-map marker"></span><span class="text">Whatisnext. in Edu Website ( Office ) 2nd floor, 706, 2nd Cross Rd, HRBR Layout 1st Block, Subbaiahnapalya, Banaswadi, Bengaluru, Karnataka 560043</span></a></li>
      <li><a href="tel:+91 90194 17635"><span class="icon fa fa-phone"></span>Head office : <span class="text">&nbsp; +91 90194 17635 </a> </li>
      <li><a href="tel:+91 93533 12839"><span class="icon fa fa-mobile"></span><span class="text">+91 93533 12839
         </span></a><a href="tel:+91 9061296874">&emsp;&emsp;&ensp;&nbsp;<span class="text">+91 9061296874
        </span></a></li>
      <li> <a href="mailto:info@whatisnext.in" ><span class="icon fa fa-envelope"></span><span class="text">info@whatisnext.in </span></a></li>
      </ul>
      </div>
      </div>
      </div>
      
      
      </div>
      </div>
      
      
      
      
      
      
      </div>
      <div class="col-md-12 text-center" style="background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #494635 74%);">
        <div class="mb-3"> <hr>
          <a href="contact.html"><span id="copy-right">About Us &emsp;&emsp;</span></a><a href="courses.html"><span id="copy-right">&emsp;Courses&emsp;&emsp;</span></a><a href="application-form.html"><span id="copy-right">&emsp;&emsp;Register&emsp;&emsp;</span></a><a href="contact.html"><span id="copy-right">&emsp;Contact</span></a>
      </div>
        <p class="mb-0 mt-0" id="copy-right" >Copyright © 2023 All rights reserved | <b>Powered by WIN  Digital</b> </p>
        </div>
      </footer>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/aos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>



<script>
    $("#submit-form").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:"https://script.google.com/macros/s/AKfycbw2QYpkZxDPmNW1cfM-J01J6jEx9BMlwT9aOeCjuS2YyjdK97sgkmO7fizFII6xA7coxA/exec",
            data:$("#submit-form").serialize(),
            method:"post",
            success:function (response){
            Swal.fire(
  'Your message was sent',
  'Thank you!',
  'success'
  )
  setTimeout(function(){
   window.location.reload();
  }, 2000);
              //window.location.href="https://google.com"
          },
          error:function (err){
              alert("Something Error")
  
          }
      })
  })
  </script>
</body>
</html>