<html lang="en">
  <head>
    <title>Academia - Free Bootstrap 5 Template by Colorlib</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

    <!--Start of Tawk.to Script-->
     <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/640ee23f4247f20fefe58dca/1grd27j12';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script> 
    <!--End of Tawk.to Script-->

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <a
      href="https://api.whatsapp.com/send?phone=9019417635&text=Hello"
      class="float"
      target="_blank"
    >
      <i class="fa fa-whatsapp my-float"></i>
    </a>
    <style>
      .float{ position:fixed; width:60px; height:60px; bottom:30px; right:25px;
      background-color:#25d366; color:#ffffff; border-radius:50px;
      text-align:center; font-size:30px; z-index:100; } .my-float{
      margin-top:16px; }
    </style>
    <!-- <div class="top-wrap">
<div class="container">
<div class="row">
<div class="col-md col-xl-5 d-flex align-items-center ">
<a class="navbar-brand align-items-center mb-5" href="index.html">
  
  <section class="logos okk">
    <img src="images/mes blue.png" class="nextt  ok">
</section>
</a>
</div>
<div class="col-md d-flex align-items-center">
<div class="con d-flex ">
<div class="icon mb-5 "><span class="flaticon-clock"></span></div>
<div class="text  ">
<span>Monday - Friday</span>
<strong>8:00AM-8:00PM</strong>
</div>
</div>
</div>
<div class="col-md d-flex align-items-center">
<div class="con d-flex">
<div class="icon mb-5 "><span class="flaticon-telephone"></span></div>
<div class="text">
<span>Call Us</span>
<strong>+2 392 3929 210</strong>
</div>
</div>
</div>
<div class="col-md d-flex justify-content-end align-items-center">
<div class="social-media ">
<p class="mb-5 d-flex">
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
</p>
</div>
</div>
</div>
</div>
</div> -->
 <nav class="navbar">
      <div class="logos okk"><img class="nextt  ok" src="../images/mes blue.png" alt="Logo"></div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i  class="fa fa-bars"></i>
      </label>
      <ul >
           <li class="nav-item"><a class="nav-link " href="/">Home</a></li>
<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
<li class="nav-item"><a class="nav-link active" href="/team">About Us</a></li>
<li class="nav-item"><a class="nav-link" href="/Registration-form">Register</a></li>

<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </nav>
    
   {{!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  color: #fff;
  padding: 10px;
  z-index: 9999;
}
.logo img {
  max-width: 20%;
  height: 5%;
}

@media screen and (max-width: 768px) {
  .logo img {
    max-width: 50%;
  }
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
 

}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

   </style> --}}

    <section
      class="hero-wrap hero-wrap-2"
      style="background-image: url('images/bg_2.jpg');"
    >
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-center justify-content-center"
        >
          <div class="col-md-9 pt-5 mt-5 text-center">
            <p class="breadcrumbs"><span class="me-2"><a href="index.html">Home
                  <i class="fa fa-chevron-right"></i></a></span>
              <span>About <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container mt-5 mb-5" style=" margin: auto;">
      <div class="row">
        <center><div
            class="col-10 col-sm-10 col-md-10 col-lg-10 col-xxl-10 col-xl-10 heading-section"
          >
            <h2 class="mt-5" data-aos="fade-up">About Us</h2>

            <p class="mt-5 p" style="text-align: justify;">Welcome to Whatisnext.in, a subsidiary of Master
              Educational Solutions (MES). We are an Educational Consultancy
              offering career counseling and admissions guidance services all
              over India since 2018. Our platform name itself is a question that
              comes to the mind of every student after completing each level of
              their education, and we provide personalized solutions to help
              them find their next step. Our team comprises experienced
              professionals dedicated to helping students achieve their academic
              and career goals by choosing the right course and the right
              College/University. We provide personalized guidance to students
              at all levels of education, from High School to Post Graduation,
              and tailor our services to meet the specific needs and goals of
              each individual. At Whatisnext.in, we are passionate about
              education and believe that it is the key to unlocking a world of
              opportunities. We have helped thousands of students over the
              years, and we are committed to providing the highest quality of
              service to each and every one of our students. Our team consists
              of experts in education, career counseling, and admissions who
              provide effective solutions to students' problems. As a member of
              the MES family, we have access to a wealth of resources and
              expertise that we leverage to provide the highest quality service
              to our students. MES has been a leader in Education Consulting &
              Career Counseling for 11 years, and our company is proud to be a
              part of this legacy. We share the same values and commitment to
              excellence as our parent company and strive to uphold their high
              standards and reputation. Contact us today to learn more about our
              services and how we can help you achieve your academic and career
              goals by choosing the right course and the right
              College/University. We are honored to be a part of the MES family
              and committed to helping our clients succeed and reach their full
              potential.
            </p>

          </div>
        </center>
      </div>
    </div>
<div class="containerr">
  <img class="profile-img imgr" src="../images/amal.1.jpg" alt="your-image-alt-text">
  <div  class="textt">
       <h3 class="name" >AMAL MURALI</h3>
              <h6 class="name">Co-Founder & CEO</h6>
            
    <p class="p">With
                  over 5 years of experience in education as a Career Counsellor
                  , Amal has Good leadership skills in any role, at any level.
                  And He Coming up with the idea of forming the company and
                  evaluating its market size. His expertise and guidance have
                  helped countless students to achieve their educational goals,
                  and His commitment to excellence is evident in everything he
                  does</p>
      <div class="social-icons">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
  </div>
</div>
<div class="container-2">
  <div  class="text2">
    <h3 class="name">Mohammed Sajjad A K</h3>
            <h6 class="name">Founder & Chairman</h6>
<p class="p">With over 8
                years of experience in education as a Career Counsellor, Sajjad
                has won the Award for "Young Entrepreneur of the year 2020" in
                the Education Sector from Genius Education Service, Dubai, UAE
                in a convocation program held in Burj Khalif-a</p>
                 <div class="social-icons">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-instagram"></i></a>
</div>
  </div>
  <img class="profile-img2 imgr-2" src="../images/sej.c1.jpg" alt="your-image-alt-text">
  
</div>
<style>
  .social-icons {
  display: flex;
  justify-content: start;
  align-items: start;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a i {
  color: #fff;
  font-size: 20px;
}
#sub-heading{
  color:#0b12a1;
}
  h6{
    color:#0b55a1;
  }
   .profile-img{ border-radius: 40px 20px ;
  
      margin-left: 200px;
    
       }
       .profile-img2{ border-radius: 20px 40px ;
     
      margin-right: 200px;
    
       }
      .containerr {
  display: flex;
  flex-direction: row; /* set flex direction to row */
  justify-content: center;
  align-items: center;
  /* Set container height to the viewport height */
}
   .container-2 {
    margin-top: 50px;
  display: flex;
  flex-direction: row; /* set flex direction to row */
  justify-content: center;
  align-items: center;
  /* Set container height to the viewport height */
}

.imgr {
  float: left; /* Float image to the left */
  max-width: 70%;
  max-height: 70%;
  object-fit: contain; /* Scale image to fit container */
  margin-right: 100px; /* Add some space between the image and text */
}

.imgr-2 {
  float: left; /* Float image to the left */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Scale image to fit container */
  margin-left: 100px; /* Add some space between the image and text */
}

.textt {
  text-align: justify;
  align-items: center;
  margin-right: 200px;
  float: left; /* Float text to the left */
}

.text2 {
  text-align: justify;
  align-items: end;
  margin-left: 200px;
  float: right; /* Float text to the left */
}

.name{
   font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .containerr {
    flex-direction: column;
   
  }
    .social-icons {
      order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
 margin: 5%;
}
.social-icons a {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0e0b0b;
  margin-right: 10px;
}



.social-icons a i {
  order: 2;
  color: #fff;
  font-size: 10px;
}
  .profile-img {
   height: 220px;
    width: 60%;
    order: 1;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 50%;
    border-radius: 0px;
  }
  .imgr {
  float: left; /* Float image to the left */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Scale image to fit container */
  margin-right: 10px; /* Add some space between the image and text */
}
 p{
  font-size: 12px;
 }
.name{
  text-align: center;

}
  .textt {
    order: 3;
  text-align: justify;
   padding-left: 20px;
   padding-right: 20px;
    max-width: 100%;
    margin-right: 0px;
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .containerr {
    flex-direction: column;
   
  }
  
  .profile-img {
   
    order: 1;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 50%;
  }
  .imgr {
  float: left; /* Float image to the left */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Scale image to fit container */
  margin-right: 10px; /* Add some space between the image and text */
}
 p{
  font-size: 12px;
 }
.name{
  text-align: center;

}
.text2 {
    text-align: justify;
    order: 2;
    max-width: 100%;
    margin-left: 0px;
   
    font-size: 12px;
  }
  .textt {
    order: 2;
  text-align: justify;
   
    max-width: 100%;
    margin-right: 0px;
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .container-2 {
    flex-direction: column;
  }

  .profile-img {
  
  }
   .profile-img2{ border-radius: 20px ;
      
      margin-right: 0px;
 
    order: 1;
    margin-bottom: 20px;
    max-width: 90%;
      }
  .imgr-2 {
  float: left; /* Float image to the left */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Scale image to fit container */
  margin-left: 10px; /* Add some space between the image and text */
}
  .text2 {
    text-align: justify;
    order: 2;
    max-width: 100%;
    margin-left: 0px;
     padding-left: 90px;
   padding-right: 90px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .container-2 {
    flex-direction: column;
  }
  h2, .p {
    align-items: center;
    margin-left: 10px;
  margin: 0; /* Remove default margin */
}
.p{
  padding-left: 15px;
  text-align: justify;
  padding-right: 15px;
}
 
   .profile-img2{ border-radius: 0px ;
      
      margin-right: 0px;
     height: 220px;
    width: 60%;
    order: 1;
    margin-bottom: 20px;
    max-width: 90%;
 }
  .imgr-2 {
  float: left; /* Float image to the left */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Scale image to fit container */
  margin-left: 10px; /* Add some space between the image and text */
}
  .text2 {
    text-align: justify;
    order: 2;
    max-width: 100%;
    margin-left: 0px;
     padding-left: 20px;
   padding-right: 20px;
    font-size: 12px;
  }
}
</style>
 


    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="100"
          >
            <div class="staff">
              <div
                class="img"
                style="background-image: url(../images/aromal.jpg);"
              >
                
              </div>
              <div class="text">
                <h3>AROMAL RAJESH</h3>
                <span id="sub-heading" class="position" sty>Marketing Director</span>
                <p style="text-align: justify;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Experience specifically in the Educational sector, develop an
overall plan to promote company and reviewing applications
and making selections for scholarship programs at Universities,with experience advising for career counseling</p>
              </div>
            </div>
          </div>
      
          <div
            class="col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            <div class="staff">
              <div
                class="img"
                style="background-image: url(../images/par.png);"
              >
                
              </div>
              <div class="text">
                <h3>PARTHIPAN U
</h3>
                <span id="sub-heading" class="position">Senior Sales Manager</span>
                          <p style="text-align: justify; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Managing partner of Whatisnext, Coming up with the idea of
forming a company and evaluating its market size , who uses
internet platforms to grow an audience and gain awareness for
a brand or organization.</p>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            <div class="staff">
              <div
                class="img"
                style="background-image: url(../images/jaw.jpg);">
                
              </div>
              <div class="text">
                <h3>Jawhar Abdul Rahiman</h3>
                <span id="sub-heading" class="posititon">Head of Digital Marketing Department</span>
                          <p style="text-align: justify; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Digital Marketer, with experience specifically in the Educational
sector, who completed his Master's degree in Marketing due to
his passion for marketing.
</p>
              </div>
            </div>
          </div>
              <div
            class="col-md-6 col-lg-3"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
          >
            <div class="staff">
              <div
                class="img"
                style="background-image: url(../images/image_6.jpg);"
              >
                
              </div>
              <div class="text">
                <h3>Ph.D Arthur MaGregor</h3>
                <span id="sub-heading" class="position">Developer</span>
                          <p style="text-align: justify; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Experience specifically in the Educational sector, develop an
overall plan to promote company and reviewing applications
and making selections for scholarship programs at Universities
, with experience advising for career counseling
</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="ftco-footer">
      <div class="container-xl">
        <div class="row mb-5 justify-content-between">
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 logo d-flex">
                <a class="navbar-brand align-items-center" href="index.html">
                  Academia
                  <span>Online Education &amp; Learning</span>
                </a>
              </h2>
              <p>A small river named Duden flows by their place and supplies it
                with the necessary regelialia.</p>
              <ul class="ftco-footer-social list-unstyled mt-2">
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Explore</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>About Us</a></li>
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Services</a></li>
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Courses</a></li>
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Blog</a></li>
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-2">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Contact Us</a></li>
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Pricing</a></li>
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Terms &amp; Conditions</a></li>
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Privacy</a></li>
                <li><a href="#"><span
                      class="ion ion-ios-arrow-round-forward me-2"
                    ></span>Feedbacks</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Recent Posts</h2>
              <div class="block-21 mb-4 d-flex">
                <a
                  class="blog-img img rounded"
                  style="background-image: url(images/image_1.jpg);"
                ></a>
                <div class="text">
                  <div class="meta">
                    <div><a href="#"><span class="fa fa-calendar"></span>
                        Jan. 18, 2021</a></div>
                    <div><a href="#"><span class="fa fa-user"></span>
                        Admin</a></div>
                  </div>
                  <h3 class="heading"><a href="#">Creativity and Inspiration</a></h3>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a
                  class="blog-img img rounded"
                  style="background-image: url(images/image_2.jpg);"
                ></a>
                <div class="text">
                  <div class="meta">
                    <div><a href="#"><span class="fa fa-calendar"></span>
                        Jan. 18, 2021</a></div>
                    <div><a href="#"><span class="fa fa-user"></span>
                        Admin</a></div>
                  </div>
                  <h3 class="heading"><a href="#">Creativity and Inspiration</a></h3>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a
                  class="blog-img img rounded"
                  style="background-image: url(images/image_4.jpg);"
                ></a>
                <div class="text">
                  <div class="meta">
                    <div><a href="#"><span class="fa fa-calendar"></span>
                        Jan. 18, 2021</a></div>
                    <div><a href="#"><span class="fa fa-user"></span>
                        Admin</a></div>
                  </div>
                  <h3 class="heading"><a href="#">Creativity and Inspiration</a></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon fa fa-map marker"></span><span
                      class="text"
                    >203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                  <li><a href="#"><span class="icon fa fa-phone"></span><span
                        class="text"
                      >+2 392 3929 210</span></a></li>
                  <li><a href="#"><span
                        class="icon fa fa-paper-plane"
                      ></span><span class="text"><span
                          class="__cf_email__"
                          data-cfemail="9ef7f0f8f1dee7f1ebecfaf1f3fff7f0b0fdf1f3"
                        >[email&#160;protected]</span></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid px-0 py-5 bg-darken">
        <div class="container-xl">
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="mb-0" style="font-size: 14px;">Copyright &copy;<script
                  data-cfasync="false"
                  src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
                ></script><script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with
                <i class="fa fa-heart color-danger" aria-hidden="true"></i>
                by
                <a
                  href="https://colorlib.com"
                  target="_blank"
                  rel="nofollow noopener"
                >Colorlib</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/aos.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"
    ></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'UA-23581568-13');
    </script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
      integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
      data-cf-beacon='{"rayId":"7a4c0760ce1a4b98","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}'
      crossorigin="anonymous"
    ></script>
  </body>
</html>